<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Mail</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/activation.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@300;400;500;600;700;800&family=Philosopher&display=swap" rel="stylesheet">
</head>
<body style="display:flex;justify-content:center;align-items:center;">
    
    <div id="main_block">
        <div id="block-1">
            <img id="img-applogo" src="/images/homelogo.png" alt="">
            <p id="p-content">Please check your Email to verify your Account.</p>
            <p id="disclimer-openmail">Click Below to Open Email</p><br>
            <img id="down-arrow-img" src="/videos/down-arrow-gif.gif" alt="">
            <br><a href="https://mail.google.com/mail/u/0/"><button id="button">Email</button></a>
        </div>
        <div id="block-2">
            {{!-- <video src="/videos/bus-verify-vid.mp4" autoplay></video> --}}
            <div id="content-over-video">
                <p>THANKS FOR CHOOSING</p>
                <p id="app-name">TRAVELO BOOKING</p>
            </div>
        </div>
    </div>
</body>
</html>