<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Information</title>
    <link rel="icon" href="/images/logowhite.svg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/booking.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@300;400;500;600;700;800&family=Philosopher&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="homenavbar">
                <img id="appicon" src="/images/homelogo.png" alt="logo">
                <form action="/home" class="bookingdiv-1">
                    <button id="bookingbutton" href="/home" ><i class="fa-solid fa-house"></i> Home</button>
                </form>

                <div id="bookingdivactive">
                    <button id="bookingbuttonactive"><i class="fa-brands fa-opencart"></i> Booking</button>
                </div>

                <form action="/likes-bus" class="bookingdiv">
                    <button id="bookingbutton" href="/likes-bus"><i class="fa-solid fa-heart"></i> Wishlist</button>
                </form>

                <form action="/profile"  class="profilediv">
                    <button id="profilebutton" href="/profile"><i class="fa-solid fa-user"></i> Profile</button>
                </form>

                <form action="/exit" class="exitdiv">
                    <button id="exitbutton"><i class="fas fa-sign-out-alt fa-lg"></i> Sign Out</button>
                </form>                                                                                                 
        </div>

        <div id="profilecontent">
            <div id="booking-header-div">
                <div class="bookinnerheader">
                    <p ><i class="fa-solid fa-clipboard-list"></i></p>
                    <p class="hoverheader">Upcoming Tours</p>
                </div>
                <div class="bookinnerheader">
                    <p ><i class="fa-solid fa-clipboard-check"></i></p>
                    <p class="hoverheader">Completed Tours</p>
                </div>
            </div>
            <div class="bookinnercontent">
                <div id="booking-content-div">
                    sdgrtryjtkuytrgef
                </div>
                <div id="booking-content-div">
                    sdgrtryjtkuytrgef
                </div>
                <div id="booking-content-div">
                    sdgrtryjtkuytrgef
                </div>

                <div id="booking-content-div">
                    sdgrtryjtkuytrgef
                </div>
            </div>
        </div>
    </div>
</body>
</html>
    
