<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/booking.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@300;400;500;600;700;800&family=Philosopher&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="homenavbar">
                <img id="appicon" src="/images/homelogo.png" alt="logo">
                <form action="/home" class="profilediv">
                    <button id="profilebutton" href="/home" ><i class="fa-solid fa-house"></i> Home</button>
                </form>

                <div class="bookingdiv">
                    <button id="bookingbutton"><i class="fa-brands fa-opencart"></i> Booking</button>
                </div>

                <form action="/profile"  class="profilediv">
                    <button id="profilebutton" href="/profile"><i class="fa-solid fa-user"></i> Profile</button>
                </form>

                <form action="/exit" class="exitdiv">
                    <button id="exitbutton"><i class="fas fa-sign-out-alt fa-lg"></i> Log Out</button>
                </form>                                                                                                 
        </div>
        <div id="inner-block">
            <div id="inner-block-first">
                <form action="">
                    <button type="button" id="detailbuttonbooking" href="">Booked</button>
                </form>
                <form action="">
                    <button type="button" id="detailbuttoncompleted" href="">Completed</button>
                </form>
            </div>
            <div id="inner-block-second">
                <p>second</p>
            </div>
        </div>
    </div>
</body>
</html>