<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dealer Login</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/dealer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@300;400;500;600;700;800&family=Philosopher&display=swap" rel="stylesheet">
</head>
<body>
    <form action="/dealerlogin" method="POST" id="loginform">   
        <h2 id="logintxt">DEALER LOGIN</h2>
        <label for="Email">Dealer-Id</label>
        <input class="outline" type="email" placeholder="Type your Dealer-Id" name="dealerid" id="uname" required>
        
        <label for="password">Password</label>
        <input class="outline" type="password" placeholder="Type your Password" name="password" id="pwd" required>
        {{#if control}}
            <h4 id="warning">{{res}}</h4>
        {{/if}}
        <button type="submit" id="loginbuttom" href="/dealerlogin">Login</button>
    </form>
    <form action="/">
        <button id="button-home">Select the Login <i class="fas fa-long-arrow-alt-right fa-lg"></i></button>
    </form>
</body>
</html>