<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body >
    <div  id="block{{#if verificationCode}}active{{/if}}{{#if changepwd}}active{{/if}}{{#if fpassword}}active{{/if}}">
        {{#if login}}
            <form action="/login" method="POST" id="loginform">
                <h2 id="logintxt">LOGIN</h2><br>
                <label for="uname">Email-Id</label>
                <input class="outline" type="email" placeholder="Enter your Email-Id" name="Email" id="uname" required><br>
                
                <label for="pwd">Password</label>
                <input class="outline" type="password" placeholder="Enter your Password" name="password" id="pwd" required><br>

                {{#if control}}
                        <h4 class="warning">{{res}}</h4>
                {{/if}}

                <button type="submit" class="loginbutton" href="/login">Login</button>
                
                <p id="or">Create an Account</p>
            </form>

            <form action="/forgot-password">
                    <button id="fpwd" href="/forgot-password" >Forget Password?</button>
            </form>

            <form action="/signup">
                <button id="signupbutton" href="/signup" >Signup</button>
            </form>
        {{/if}}
        {{#if fpassword}}
            <div class="contentBlock">
                <h2 id="logintxt-fpwd">FORGOT PASSWORD</h2><br><br>
                <form action="/fpass-email" method="post">
                    <label for="email">Email-Id</label>
                    <input class="outline" type="email" placeholder="Enter your Email-Id" name="Email" id="email" required><br>
                    <button type="submit" class="loginbutton" href="fpass-email">Next<i class="fa fa-angle-right" aria-hidden="true"></i></button>
                </form>
                {{#if warning}}
                    <br><h4 class="warning">Entered Email ID is Invalid or Not Found</h4>
                {{/if}}
            </div>
            <br><div class="dot-pos">
                <span class="dot" style="background-color: #2d3467;"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div><br>
        {{/if}}

        {{#if verificationCode}}
                <div class="contentBlock">
                    <h2 class="logintxt-verify">VERIFICATION</h2><br>
                    <input type="hidden" name="emailid" value="{{email}}">
                    <p class="p-verify">Please Enter the OTP sent to your registered email address.</p><br>
                    <form action="/verify-code" method="post">
                        <div class="otpInputs" >
                            <input class="input-opt {{#if invalid}}invalidcode{{/if}}" type="text" name="index0" maxlength="1" required/>
                            <input class="input-opt {{#if invalid}}invalidcode{{/if}}" type="text" name="index1" maxlength="1" required/>
                            <input class="input-opt {{#if invalid}}invalidcode{{/if}}" type="text" name="index2" maxlength="1" required/>
                            <input class="input-opt {{#if invalid}}invalidcode{{/if}}" type="text" name="index3" maxlength="1" required/>
                            <input class="input-opt {{#if invalid}}invalidcode{{/if}}" type="text" name="index4" maxlength="1" required/>
                            </div>
                        <button class="verify-btn" type="submit">Verify</button>
                    </form><br>
                    
                    {{#if invalid}}
                        <h4 class="warning">Code Not Matched</h4>
                    {{/if}}
                    <p class="p-verify">Note* : Don't Refresh the Page</p>
                </div>
                <div class="dot-pos">
                        <span class="dot"></span>
                        <span class="dot" style="background-color:#2d3467;"></span>
                        <span class="dot"></span>
                </div><br>
        {{/if}}

        {{#if changepwd}}
            <form action="/update-password" method="post" class="updateBlock">
                <h2 class="logintxt-verify">CHANGE PASSWORD</h2><br>
                <input type="hidden" name="emailid" value="{{email}}">
                <div id="cpwd-content">
                    <label for="cpwd">Password</label>
                    <input class="input-pwd" type="text" placeholder="Enter the New Password" name="cpwd"><br>
                    
                    <label for="rpwd">Re-Enter Password</label>
                    <input class="input-pwd{{#if invalid}}active{{/if}}" type="password" placeholder="Re-Enter the Password" name="rpwd"><br>
                </div>
                <button class="submitbutton" type="submit" href="/update-password">Save</button>
            </form><br>
            {{#if invalid}}
                        <h4 class="warning">Code Not Matched</h4>
            {{/if}}
            <div class="dot-pos">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot" style="background-color: #2d3467;"></span>
            </div>
        {{/if}}
    </div>
</body>

<script>
    const otpInputs = document.querySelectorAll('.otpInputs .input-opt');

    otpInputs.forEach((input, index) => {
        input.addEventListener('input', (e) => {
            const value = e.target.value;

            if (value.length === 1) {
                if (index < otpInputs.length - 1) {
                    otpInputs[index + 1].focus();
                } else {
                    otpInputs[index].blur();
                }
            }

            if (value === '') {
                if (index > 0) {
                    otpInputs[index - 1].focus();
                }
            }
        });

        input.addEventListener('keydown', (e) => {
            const value = e.target.value;

            if (e.key === 'Backspace' && value === '') {
                if (index > 0) {
                    otpInputs[index - 1].focus();
                }
            }
        });
    });

</script>
</html>