<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-signin-client_id" content="1071737044428-hn3l03k3a69vf5s1g06eb7bl5mj739tl.apps.googleusercontent.com">
    <title>User Login</title>
    <link rel="icon" href="/images/logowhite.svg">
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@300;400;500;600;700;800&family=Philosopher&display=swap" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>
    <img id="appicon" src="/images/homelogo.png" alt="logo">
    <div  id="block">
        {{#if login}}
            <div class="img-login-page">
                <img id="image-icon" src="/images/userlogin-bg-1.svg" style="width: 650px;height:500px" alt="">
                <p class="login-quotes">Welcome to the Travelo family!<br>We're excited to have you as part of our community.</p>
            </div>
            <div >
                <form action="/login" method="POST" id="loginform">
                    <h2 id="logintxt">USER LOGIN</h2><br>
                    <label for="uname">Email-Id</label>
                    <input class="outline" type="email" placeholder="Enter your Email-Id" name="Email" id="uname" required autocomplete="off"><br>
                    
                    <label for="pwd">Password</label>
                    <input class="outline" type="password" placeholder="Enter your Password" name="password" id="pwd" required autocomplete="off"><br>
                    <i class="far fa-eye" id="togglePassword"></i>
                    {{#if control}}
                            <h4 class="warning-1">{{res}}</h4>
                    {{/if}}

                    <button id="submit-btn-control" type="submit" class="loginbutton" href="/login"><p class="spin-load-animation"><i class="fa-solid fa-spinner fa-spin-pulse"></i></p> <p class="submit-btn-content">Login</p></button>
                    
                    <p id="or">Create an Account</p>
                </form>

                <form action="/forgot-password">
                        <button id="fpwd" href="/forgot-password" >Forget Password?</button>
                </form>

                <form action="/signup">
                    <button id="signupbutton" href="/signup" >Signup</button>
                </form><br>

                <hr style="display:flex:flex-direction:column;width:70%;margin-left:60px">
                <p id="ortag">OR</p><br>
                
            <a id="continue-google" href="/google" ><i class="fab fa-google fa-2x"></i> Continue With Google</a>

                <form action="/">
                    <button id="button-home">Select Login Type<i class="fas fa-long-arrow-alt-right fa-lg"></i></button>
                </form>
            </div>
        {{/if}}
        {{#if fpassword}}
            <div class="img-login-page">
                <img id="image-icon" src="/images/userlogin-bg-1.svg" style="width: 650px;height:500px" alt="">
                <p class="login-quotes">Welcome to the Travelo family!<br>We're excited to have you as part of our community.</p>
            </div>
            <div class="innerlogincontent">
                <div class="contentBlock">
                    <h2 id="logintxt-fpwd">FORGOT PASSWORD</h2><br><br>
                    <form action="/fpass-email" method="post">
                        <label for="email">Email-Id</label>
                        <input class="outline" type="email" placeholder="Enter your Email-Id" name="Email" id="email" required autocomplete="off"><br>
                        <button type="submit" class="loginbutton" href="fpass-email">Next</i></button>
                    </form>
                    {{#if warning}}
                        <br><h4 class="warning">Email ID is Invalid or Not Found</h4>
                    {{/if}}
                </div>
                <br><div class="dot-pos">
                    <span class="dot" style="background-color: #2d3467;"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div><br>
            </div>
        {{/if}}

        {{#if cpassword}}
            <div class="img-login-page">
                <img id="image-icon" src="/images/userlogin-bg-1.svg" style="width: 650px;height:500px" alt="">
                <p class="login-quotes">Welcome to the Travelo family!<br>We're excited to have you as part of our community.</p>
            </div>
            <div class="innerlogincontent">
                <div class="contentBlock">
                    <h2 id="logintxt-fpwd">CHANGE PASSWORD</h2><br><br>
                    <form action="/fpass-email" method="post">
                        <label for="email">Email-Id</label>
                        <input class="outline" type="email" placeholder="Enter your Email-Id" name="Email" id="email" required autocomplete="off"><br>
                        <button type="submit" class="loginbutton" href="fpass-email">Next</i></button>
                    </form>
                    {{#if warning}}
                        <br><h4 class="warning">Email ID is Invalid or Not Found</h4>
                    {{/if}}
                </div>
                <br><div class="dot-pos">
                    <span class="dot" style="background-color: #2d3467;"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div><br>
            </div>
        {{/if}}

        {{#if verificationCode}}
                <div class="img-login-page">
                    <img id="image-icon" src="/images/userlogin-bg-1.svg" style="width: 650px;height:500px" alt="">
                    <p class="login-quotes">Welcome to the Travelo family!<br>We're excited to have you as part of our community.</p>
                </div>
                <div class="innerlogincontent">
                    <div class="contentBlock">
                        <h2 class="logintxt-verify">VERIFICATION</h2><br>
                        <input type="hidden" name="emailid" value="{{email}}">
                        <p class="p-verify">Please Enter the OTP sent to your registered email address.</p><br>
                        <form action="/verify-code" method="post">
                            <div class="otpInputs" >
                                <input class="input-opt {{#if invalid}}invalidcode{{/if}}" type="text" name="index0" maxlength="1" required autocomplete="off"/>
                                <input class="input-opt {{#if invalid}}invalidcode{{/if}}" type="text" name="index1" maxlength="1" required autocomplete="off"/>
                                <input class="input-opt {{#if invalid}}invalidcode{{/if}}" type="text" name="index2" maxlength="1" required autocomplete="off"/>
                                <input class="input-opt {{#if invalid}}invalidcode{{/if}}" type="text" name="index3" maxlength="1" required autocomplete="off"/>
                                <input class="input-opt {{#if invalid}}invalidcode{{/if}}" type="text" name="index4" maxlength="1" required autocomplete="off"/>
                                </div>
                            <button class="verify-btn" type="submit">Verify</button>
                        </form><br>
                        
                        {{#if invalid}}
                            <h4 class="warning">Code Not Matched</h4>
                        {{/if}}
                        <p class="p-verify">Note* : Don't Refresh the Page</p>
                    </div>
                    <br><div class="dot-pos">
                            <span class="dot"></span>
                            <span class="dot" style="background-color:#2d3467;"></span>
                            <span class="dot"></span>
                    </div><br>
                </div>
        {{/if}}

        {{#if changepwd}}
            <div class="img-login-page">
                <img  id="image-icon" src="/images/userlogin-bg-1.svg" style="width: 650px;height:500px" alt="">
                <p class="login-quotes">Welcome to the Travelo family!<br>We're excited to have you as part of our community.</p>
            </div>
            <div class="innerlogincontent">
                <form action="/update-password" method="post" class="updateBlock">
                    <h2 class="logintxt-verify">CHANGE PASSWORD</h2><br>
                    <input type="hidden" name="emailid" value="{{email}}">
                    <div id="cpwd-content">
                        <label for="cpwd">Password</label>
                        <input class="input-pwd" type="text" placeholder="Enter the New Password" name="cpwd" required autocomplete="off"><br>
                        
                        <label for="rpwd">Re-Enter Password</label>
                        <input class="input-pwd{{#if invalid}}active{{/if}}" type="password" placeholder="Re-Enter the Password" name="rpwd" required autocomplete="off"><br>
                    </div>
                    <button class="submitbutton" type="submit" href="/update-password">Save</button>
                </form><br>
                {{#if invalid}}
                            <h4 class="warning">Code Not Matched</h4>
                {{/if}}
                <div class="dot-pos">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot" style="background-color: #2d3467;"></span>
                </div>
            </div>
        {{/if}}
    </div>
</body>

<script>

    try{
        document.getElementById('submit-btn-control').addEventListener('click', function (e) {
            if(document.getElementById('submit-btn-control').value != null && document.getElementById('submit-btn-control').value !=null){
                document.querySelector('.spin-load-animation').style.display ='block'
                document.querySelector('.submit-btn-content').style.display='none';
            }
        })
    }
    catch(e){
        console.log(e);
    }

    try{
      document.querySelector('#image-icon').setAttribute('draggable', false);
  }
  catch(e){
    console.log(e);
  }
  try{
      document.querySelector('#appicon').setAttribute('draggable', false);
  }
  catch(e){
    console.log(e);
  }

    const otpInputs = document.querySelectorAll('.otpInputs .input-opt');

    otpInputs.forEach((input, index) => {
        input.addEventListener('input', (e) => {
            const value = e.target.value;

            if (value.length === 1) {
                if (index < otpInputs.length - 1) {
                    otpInputs[index + 1].focus();
                } else {
                    otpInputs[index].blur();
                }
            }

            if (value === '') {
                if (index > 0) {
                    otpInputs[index - 1].focus();
                }
            }
        });

        input.addEventListener('keydown', (e) => {
            const value = e.target.value;

            if (e.key === 'Backspace' && value === '') {
                if (index > 0) {
                    otpInputs[index - 1].focus();
                }
            }
        });
    });

    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#pwd');

    togglePassword.addEventListener('click', function (e) {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
        this.classList.add('align-eye');
    });

</script>
</html>