<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="icon" href="/images/logowhite.svg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="/signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@300;400;500;600;700;800&family=Philosopher&display=swap" rel="stylesheet">
</head>
<body>
    <img id="appicon" src="/images/homelogo.png" alt="logo">
    <div  id="block">
        <form action="/signup" method='POST' id="loginform">
           <h2 id="logintxt">USER SIGNUP</h2><br>
            <label for="fname">First Name</label><br>
            <input class="outline" type="text" placeholder="Enter the First Name" name="fname" id="fname" maxlength="20" required autocomplete="off">
            <hr id="line"style="width:97%;text-align:left;margin-left:0"><br>

            <label for="lname">Last Name</label>
            <input class="outline"type="text" placeholder="Enter the Last Name" name="lname" id="lname" maxlength="20" required autocomplete="off">
            <hr id="line"style="width:97%;text-align:left;margin-left:0"><br>
            
            <label for="Email">Email</label>
            <input class="outline" type="email" placeholder="Enter the Email" name="Email" id="email" required autocomplete="off">
            <hr id="line"style="width:97%;text-align:left;margin-left:0"><br>
            
            <label for="password">Password</label>
            <input class="outline" type="password" placeholder="Enter the Password" name="password" id="pwd" required autocomplete="off">
            <hr id="line" style="width:97%;text-align:left;margin-left:0;"><br>

            <label for="confirmPassword">Confirm Password</label>
            <input class="outline" type="password" placeholder="Re-enter the Password" name="confirmPassword" id="pwd1" required autocomplete="off">
            <hr id="line" style="width:97%;text-align:left;margin-left:0;"><br>
            <i class="far fa-eye" id="togglePassword"></i>

            
            {{#if control}}
                    <h4 id="warning">{{res}}</h4>
            {{/if}}

            <br><button type="submit" id="signupbutton" href="/signup">Sign Up</button>   
            
           <br><p id="or">Already have an account</p>
        </form>
        <form action="/login">
            <button id="loginbutton" href="/login">Login</button>
        </form>
    </div>
</body>

<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#pwd1');

    togglePassword.addEventListener('click', function (e) {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
        this.classList.add('align-eye');
    });
    
</script>

</html>