<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verify</title>
    <link rel="icon" href="/images/logowhite.svg">
    <link rel="stylesheet" href="/verify.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@300;400;500;600;700;800&family=Philosopher&display=swap" rel="stylesheet">
</head>
<body>
    <video autoplay muted>
        <source  src="/videos/verify.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <P >SUCCESSFULLY VERIFIED</P>
    <form action="/">
        <button href="/" id="button">Login Now</button>
    </form>
</body>
</html>