*{
    
    padding: 0px;
    margin: 0px;
}

body{
  font-family: 'Open Sans', sans-serif;
    /* font-family: 'Philosopher', sans-serif; */
    font-style: normal;
}

#heading{
    font-size: 200px;
    margin-top: -100px;
    background: url('https://lh3.googleusercontent.com/drive-viewer/AITFw-xxzgefyaSc3pMLyw8yZ3HZbMxpuczK8XYJotZZMY1xJQd8PF56yZiXZWQtwAFZNdQJlsqzCvXg4kCaNYQplvdFsWIg=s2560');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}

#content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 260px;
}

#button-home{
  padding-left: 10px;
  height: 35px;
  margin-top: 140px;
  width: 220px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  color: white;
  border-style: none;
  background: -webkit-linear-gradient(95deg,#ae006b, #2d3464); 
  box-shadow: 0px 0px 5px 0px rgb(0,0,0.1);
  justify-content: center;
  font-weight: 700;
  cursor: pointer;
}

#button-home:hover {
    padding-left: 30px;
    height: 35px;
    margin-top: 140px;
    width: 220px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    color: white;
    border-style: none;
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    box-shadow: 0px 0px 5px 0px rgb(0,0,0.1);
    justify-content: flex-start;
    font-weight: 700;
    cursor: pointer;
    .fa-long-arrow-alt-right{
      position: absolute;
      opacity: 1;
      margin-left: -150px;
      color: white;
      animation: swipeLeft 1s ease-out infinite ;
      width: 360px;
  }
    
}

.fa-long-arrow-alt-right{
      opacity: 0;
}



@keyframes swipeLeft {
  0%{
    transform: translateX(80px);
  }
  100% {
    transform: translateX(170px);
  }
}