*{
    padding: 0px;
    margin: 0px;
}

body{
    /* background-color: #009ba9; */
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Philosopher', sans-serif; */
    font-style: normal;
    background-color: #dadade;
}

video {
    height: 745px;
    position: absolute;
    width: 990px;
    margin-left: 220px;
}

div#block-1{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 735px;
    align-items: center;
    background-color: white;
    /* border-radius: 0px 25px 25px 0px; */
    position: relative;
    animation: myfirst 2s 1;
    animation-direction: alternate;
    /* height: 705px;
    margin-top: 20px;
    margin-bottom: 20px; */
}

@keyframes myfirst {
  0%   {left: -320px; top: 0px;}
  100% {left: 0px; top: 0px;}
}

#p-content {
    margin-top: 130px;
    padding: 29px;
    font-size: 21px;
    font-weight: 700;
}
#disclimer-openmail {
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: 600;
    font-size: 14px;
    background-image: linear-gradient(45deg, #7c7e7e, #2d3465);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#main_block{
    display: flex;
    flex-direction: row;
}

div#block-2 {
    width: 1199px;
    height: 735px;
    /* background-color: #009ba9; */
}

#button {
    width: 170px;
    height: 40px;
    /* color: white;
    background: #007bff; */
    box-shadow: 0px 0px 5px -2px rgb(0, 0, 0.1);
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    font-size: 19px;
}

#button:hover{
    background-color: #2d3467;
    color: #ffffff;
}

#img-applogo {
    margin-top: 40px;
    width: 170px;
}

#down-arrow-img{
    height: 40px;
    width: 50px;
}

#content-over-video {
    margin-left: 140px;
    display: flex;
    position: absolute;
    z-index: 2;
    font-weight: bolder;
    font-size: 27px;
    color: #FFFFFF;
    margin-top: 250px;
    animation: mysecond 3s 1;
    animation-direction: alternate;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
}

@keyframes mysecond {
    0%   {opacity: 0%;}
    40% {opacity: 0%;}
    100% {opacity: 100%;;}
  }

  #app-name{
    font-size: 90px;
    background: url('../images/activatepage.avif');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .thankstxt{
    background: url('../images/activatepage.avif');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }