*{
    padding: 0px;
    margin: 0px;
}

::-webkit-scrollbar {
    display: none;
}

body{
    background-repeat: no-repeat;
    background-color: #dadade;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    user-select: none;
}

#homenavbar {
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: #dadade;
    box-shadow: 2px 0px 10px -2px rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    position: fixed;
    z-index: 2;
}

.bookingdiv:hover {
    border-radius: 10px 0px 0px 10px;
    background-color: #dadada;
}
#appicon {
    height: 70px;
    width: 120px;
    margin-left: 30px;
    margin-top: -10px;
}

#main{
    display: flex;
    flex-direction: column;
}

.bookingdiv,.profilediv {
    display: inline-flex;
    align-items: end;
}

.bookingdiv-1{
    margin-left: 70px;
}

button#profilebutton {
    border-style: none;
    background-color: transparent;
    font-size: 17px;
    display: inline-flex;
    column-gap: 10px;
    cursor: pointer;
    margin-top: 15px;
    justify-content: center;
}

button#bookingbutton,button#bookingbuttonactive{
    border-style: none;
    background-color: transparent;
    font-size: 17px;
    margin-top: 15px;
    display: inline-flex;
    margin-left: 50px;
    column-gap: 10px;
    cursor: pointer;
}

.profilediv {
    margin-left: 50px;
}

#bookingdivactive{
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.exitdiv {
    margin-left: 600px;
    display: flex;
}

button#exitbutton {
    margin-left: 70px;
    border-style: none;
    cursor: pointer;
    display: flex;
    background: transparent;
    align-items: center;
    font-weight: 700;
    gap: 5px;
    font-size: 18px;
    padding-right: 16px;
}

button#exitbutton:hover,#bookingbutton:hover,.profilediv:hover{
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#profilecontent{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#booking-header-div {
    display: flex;
    flex-direction: row;
    padding: 17px;
    height: 45px;
    background: linear-gradient(0deg,#dadade,#2d3467);
    column-gap: 15px;
    font-size: 20px;
    padding-left: 70px;
    margin-top: 80px;
    position: fixed;
    z-index: 2;
    min-width: 1450px;
    width: 100%;
}

.bookinnerheader1, .bookinnerheader2,.bookinnerheader3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    background-color: transparent;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: -18px;
}

/* .bookinnerheader1,.bookinnerheader2{
    display:flex;
    flex-direction:row;
    align-items: center;
    column-gap:10px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
} */

/* .hoverheader{
    display: none;
}

#booking-header-div:hover{
    .hoverheader{
        display: block;
        animation: wiperight 1s;
        animation-iteration-count: 1;
    }
}

@keyframes wiperight{
    0% { 
        opacity: 0%;
        transform: translateX(-20px);
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
} */

.bookinnercontent {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#bookingtitleheader {
    background: linear-gradient(0deg,#dadade,#2d3467);
    padding: 17px;
    height: 45px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
}

.bookinnerheader:hover{
    color: #FFFFFF;
}

.hoverheaderactive,.fa-clipboard-list,.fa-clipboard-check{
    /* color: #FFFFFF; */
}

img#busimage {
    width: 400px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px -2px #2d3467;
}

#inner-content-block{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 1370px;
    border-radius: 5px;
    padding: 15px;
    margin-left: 50px;
    box-shadow: 0px 1px 5px -2px #2d3467;
    .fa-map-location-dot{
        color: #ffffff;
    }
}

div#booking-content-div-1,#booking-content-div-2,#booking-content-div-3 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 160px;
}

#inner-buscontent{
    display: flex;
    flex-direction: row;
}

img#dealerimage{
    width: 30px;
    height:30px;
    border-radius:50px;
}

p#busname {
    font-size: 22px;
    color: #2d3467;
}

p#companyname {
    font-size: 11px;
    font-weight: 500;
}

.statusheadercolor {
    height: 5px;
    background-color: #2d3467;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 5px 5px 0px 0px;
}

.statusheadercolor-complete {
    height: 5px;
    background-color: green;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 5px 5px 0px 0px;
}

.statusheadercolorfail {
    height: 5px;
    background-color: #ae006b;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 5px 5px 0px 0px;
}

.buscontent-main-div {
    display: flex;
    flex-direction: row;
}

div#buscontent-owner-name {
    display: flex;
    gap: 10px;
    margin-left: 20px;
    font-weight: 500;
}

.SEdate{
    font-size: 15px;
    font-weight: 600;
    color: #00000070;
}

#datediv-outer {
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: absolute;
    margin-left: 525px;
}

.SEdate-content {
    font-size: 20px;
    font-weight: 600;
    color: #2d3467;
}

button.status-button-success {
    position: absolute;
    margin-left: 305px;
    width: 140px;
    height: 25px;
    border-radius: 30px;
    border: none;
    background: #2d3467;
    color: #FFFFFF;
}

button.status-button-fail {
    position: absolute;
    margin-left: 305px;
    width: 140px;
    height: 25px;
    border-radius: 30px;
    border: none;
    background: #ae006b;
    color: #FFFFFF;
}

.location-content {
    margin-left: 60px;
    margin-top: 15px;
}

.location-content-1 {
    margin-left: 20px;
    margin-top: 15px;
}

.pickupdrop-header,.feedback-header{
    color: #2d3467;
    font-weight: 700;
}

.pickupdrop-content {
    width: 450px;
    font-size: 14px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#cover-location-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 15px;
    width: 440px;
}

.fa-location-dot{
    color: #ae006b;
}

#status-days {
    display: flex;
    font-size: 16px;
    border-radius: 50px 10px;
    font-weight: 400;
    position: absolute;
    padding: 5px;
    padding-left: 10px;
    color: #FFFFFF;
    margin-left: 310px;
    background: #2d3467;
    justify-content: center;
    padding-right: 10px;
}

#status-days-complete {
    display: flex;
    font-size: 16px;
    border-radius: 50px 10px;
    font-weight: 400;
    position: absolute;
    padding: 5px 15px 5px 15px;
    color: #FFFFFF;
    margin-left: 310px;
    background: green;
    justify-content: center;
}

.order-detail-content {
    display: flex;
    flex-direction: row;
    margin-top: 10px;    
}

.bookingcontent-id {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 30px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
    width: 250px;
    overflow: hidden;
}

.bookingcontent-date {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-left: 15px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
    width: 245px;
}

.paidammount-content {
    position: absolute;
    margin-left: 665px;
    display: flex;
    height: 32px;
    width: 118px;
    border: none;
    border-radius: 5px;
    background: #dadade;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0px 0px 5px -1px #2d3467;
    font-weight: 500;
}

.paidammount-content-complete {
    position: absolute;
    margin-left: 745px;
    display: flex;
    height: 32px;
    width: 190px;
    border: none;
    border-radius: 5px;
    background: #dadade;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 0px 5px -1px #2d3467;
    font-weight: 500;
    justify-content: center;
}

.balanceamount-content {
    position: absolute;
    margin-left: 802px;
    display: flex;
    width: 140px;
    border: none;
    border-radius: 5px;
    background: #2d3467;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 5px -1px #2d3467;
}

.balanceamount-content:hover{
    color: #000000;
    background-color: #dadade;
}

.bookinnerheaderactive {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    color: #2d3467;
    box-shadow: 0px 0px 5px -2px #2d3467;
    margin-bottom: -10px;
}

.notfountcompleted {
    color: #2d3467;
    font-weight: 700;
}

.notfountcompleted-1 {
    margin-top: -30px;
    color: #2d3467;
    font-weight: 700;
}

.redirect-txt{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-weight: 600;
    align-items: center;
    font-size: 14px;
}

.fa-map-location-dot{
    color: #2d3467;
  }

.warning-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

svg{
    position: absolute;
    bottom: 100px;
    left: 0;
    z-index: -1;
}

.svgfiller{
    height: 100px;
    min-width: auto;
    width: 100%;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.svg-1{
    position: absolute;
    bottom: 80px;
    left: 0;
    z-index: -1;
}

.svgfiller-1{
    height: 80px;
    min-width: auto;
    width: 100%;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.svg-2{
    position: absolute;
    bottom: 40px;
    left: 0;
    z-index: -1;
}

.svgfiller-2{
    height: 40px;
    min-width: auto;
    width: 100%;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

#homereference{
    text-decoration: none;
}

#homereference:focus{
    color: #2d3467;
}

.rigtharrowicon{
    margin-top: 10px;
}

#days-staus-icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 15px;
}

a#receipt_generate {
    background: #2d3467;
    padding: 5px;
    border-radius: 5px;
    margin-left: 20px;
    height: 28px;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

a#receipt_generate_completed {
    background: #2d3467;
    padding: 5px;
    border-radius: 5px;
    margin-left: 80px;
    height: 28px;
    width: 100px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

a#receipt_generate_completed:not(:hover){
    transition: 0.5s;
    transform: scale(1);
}

a#receipt_generate_completed:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.manager-outer-class {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    gap: 5px;
    background: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px -2px #2d3467;
    width: 570px;
}

.rating-star{
    color: #2d3467;
    cursor: pointer;
}

.star-rating-div{
    display: flex;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.rating-outer-div{
    margin-top: 150px;
    margin-left: 60px;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

#ratingbutton{
    background: transparent;
    border:none
}

.rating-star-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.order-detail-content-1 {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    position: absolute;
    margin-top: 210px;
}

p.outer-managerheader-title {
    color: #ae006b;
    font-size: 17px;
    font-weight: 600;
}

.manager-inner-class{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.inner-managercontent-namediv{
    width: 250px;
}

p.managerheader-title {
    color: #2d3467;
    font-size: 15px;
    font-weight: 600;
}

.inner-managercontent-div{
    width: 150px;
}

.contactnumber-class{
    text-decoration: none;
    color: #000000;
}

.contactnumber-class:hover{
    color: #ae006b;
}

div.booking-loading-1,div.booking-loading-2,div.booking-loading-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
}

div#booking-content {
    display: none;
}

div.booking-content-1,div.booking-content-2,div.booking-content-3 {
    display: none;
    flex-direction: column;
    gap: 15px;
}

.skeleton-card {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
    width: 93.5%;
    height: 258px;
    margin: 10px;
}

  .skeleton-image {
    width: 400px;
    height: 220px;
    margin: 20px;
    border-radius: 5px;
    background-color: #ddd;
    animation: loading 1.5s infinite;
  }

  .skeleton-details {
    width: 66%;
    padding: 20px;
    background-color: #ffffff;
  }

  .skeleton-line {
    width: 100%;
    height: 16px;
    margin-bottom: 10px;
    background-color: #ddd;
    animation: loading 1.5s infinite;
  }

  .skeleton-line-logo {
    width: 30%;
    height: 16px;
    margin-bottom: 10px;
    background-color: #ddd;
    animation: loading 1.5s infinite;
  }
  .skeleton-line-logo-2 {
    width: 20%;
    height: 16px;
    margin-bottom: 10px;
    background-color: #ddd;
    animation: loading 1.5s infinite;
  }

  @keyframes loading {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }

  .firstdiv-loading{
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: transparent;
  }
  .inner-firstdiv-loading {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: transparent;
}
  .logo-loadingdiv{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-bottom: 10px;
    background-color: #ddd;
    animation: loading 1.5s infinite;
  }

  .commandbox-div {
    height: 200px;
    width: 1370px;
    border-radius: 0px 0px 10px 10px;
    background-color: #FFFFFF;
    margin-left: 50px;
    padding: 15px;
    padding-top: 20px;
    margin-top: -250px;
    transition: 0.5s;
    box-shadow: 0px 3px 5px -5px #2d3467;
    z-index: -1;
    margin-bottom: 10px;
    position: relative;
}

.inner-feedback-div{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

#textarea-feedback{
    resize: none;

}   

#textarea-feedback:focus{
    outline-color: #2d3467;
}

.commandbox-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
}

.ratingstar-block-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    justify-content:baseline;
}

.ratingstar-block-div-button{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    justify-content:center;
}

.ratingstar-block-div-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}


.inner-ratingstar-block-div{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.feedback-txt{
    font-size: 16px;
    color: #2d3467;
    font-weight: 600;
}

button.submit-feedback,button.close-feedback {
    width: 130px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
     transform: scale(1);
    box-shadow: 0px 1px 5px -2px #2d3467;
}

button.submit-feedback{
    background-color: #2d3467;
    color: #ffffff;
}

button.close-feedback{
    background-color: #dadade;
    color:#2d3467;
}

button.close-feedback:hover,button.submit-feedback:hover{
    transition: 0.5s;
   transform: scale(1.1);
}

button.close-feedback:not(:hover),button.submit-feedback:not(:hover){
    transition: 0.5s;
   transform: scale(1);
}

#givefeedback-btn {
    background-color: #2d3467;
    color: #ffffff;
    border: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 35px;
}

.fa-truck-arrow-right{
    opacity: 0;
}

#givefeedback-btn:not(:hover){
    transition: 0.5s;
    height: 35px;
}

#givefeedback-btn:hover {
    transition: 0.5s;
    background-color: #2d3467;
    color: #ffffff;
    border: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    height: 50px;
    display: flex;
    .fa-truck-arrow-right{
        opacity: 1;
        position: absolute;
        margin-top: 20px;
        animation: swipe 2s ease-in-out infinite;
    }
}

@keyframes swipe{
    0%{
        margin-left: -165px;
    }
    100%{
        margin-left: 165px;
    }
}

.warning-bg{
    width: 350px;
    height: 350px;
}