*{
    padding: 0px;
    margin: 0px;
}

::-webkit-scrollbar {
    display: none;
}

body{
    background-repeat: no-repeat;
    background-color: #dadade;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

#homenavbar {
    height: 80px;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 0px 10px -2px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    align-items: center;
}

.bookingdiv:hover {
    border-radius: 10px 0px 0px 10px;
    background-color: #dadada;
}
#appicon {
    height: 70px;
    width: 120px;
    margin-left: 30px;
    margin-top: -10px;
}

#main{
    display: flex;
    flex-direction: column;
}

.bookingdiv,.profilediv {
    display: inline-flex;
    align-items: end;
}

.bookingdiv-1{
    margin-left: 70px;
}

button#profilebutton {
    border-style: none;
    background-color: transparent;
    font-size: 17px;
    display: inline-flex;
    column-gap: 10px;
    cursor: pointer;
    margin-top: 15px;
    justify-content: center;
}

button#bookingbutton,button#bookingbuttonactive{
    border-style: none;
    background-color: transparent;
    font-size: 17px;
    margin-top: 15px;
    display: inline-flex;
    margin-left: 50px;
    column-gap: 10px;
    cursor: pointer;
}

.profilediv {
    margin-left: 50px;
}

#bookingdivactive{
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.exitdiv {
    margin-left: 600px;
    display: flex;
}

button#exitbutton {
    margin-left: 70px;
    border-style: none;
    cursor: pointer;
    display: flex;
    background: transparent;
    align-items: center;
    font-weight: 700;
    gap: 5px;
    font-size: 18px;
    /* background-image: linear-gradient(275deg,#2d3464, #6e717a); */

}

button#exitbutton:hover,#bookingbutton:hover,.profilediv:hover{
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#profilecontent{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#booking-header-div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-height: 75px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-left: 20px;
    margin-top: 250px;
    row-gap: 30px;
    box-shadow: 0px 0px 5px -2px #2d3467;
}

.bookinnerheader{
    display:flex;
    flex-direction:row;
    align-items: center;
    column-gap:10px;
    cursor: pointer;
}

.hoverheader{
    display: none;
}

#booking-header-div:hover{
    .hoverheader{
        display: block;
        animation: wiperight 1s;
        animation-iteration-count: 1;
    }
}

@keyframes wiperight{
    0% { 
        opacity: 0%;
        transform: translateX(-20px);
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}

.bookinnercontent{
    display: flex;
    flex-direction: column;
    gap: 300px;
    padding: 20px;
    max-height: 617px;
    max-width: 1300px;
    overflow: scroll;
}

#bookingtitleheader {
    background: linear-gradient(0deg,#dadade,#2d3467);
    padding: 17px;
    height: 45px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
}