*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Philosopher', sans-serif; */
    font-style: normal;
    background-color: #2d346770;
    height: 100vh;
}

#homenavbar {
    width: 174px;
    height: 100vh;
    background-color: #ffffff;
    -webkit-border-radius: 0px 15px 15px 0px;
    position: fixed;
}

form.exitdiv {
    margin-top: 230px;
}

#appicon {
    height: 80px;
    width: 130px;
    margin-left: 17px;
    margin-top: 28px;
}

#main{
    display: flex;
}

.accountdiv{
    background-image: linear-gradient(95deg,#2d3464, #6e717a);
    border-radius: 10px 0px 0px 10px;
}

.bookinnercontent {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}



button#bookingbutton{
    height: 40px;
    width: 159px;
    border-style: none;
    background-color: transparent;
    font-size: 17px;
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
    column-gap: 10px;
}

button#accountbutton{
    height: 40px;
    width: 159px;
    border-style: none;
    background-color: transparent;
    font-size: 17px;
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
    column-gap: 10px;
    cursor: pointer;
    color: white;

}

button#profile,button#plan,button#busdetails,button#bookingdetails,button#managerdetails {
    height: 40px;
    width: 179px;
    border-style: none;
    background-color: transparent;
    font-size: 17px;
    display: inline-flex;
    column-gap: 20px;
    margin-top: 20px;
    /* border-radius: 10px 0px 0px 10px; */
    align-items: center;
    padding-left: 30px;
    cursor: pointer;
}

button#profile:hover,button#plan:hover,button#busdetails:hover,button#bookingdetails:hover,button#managerdetails:hover{
    /* background-image: linear-gradient(95deg,#2d3464, #6e717a);
    color: white; */
    background-color: #2d346750;
    color: #2d3467;
    opacity: 80%;
    width: 174px;
}


button#profileactive,button#planactive,button#busdetailsactive,button#bookingdetailsactive,button#managerdetailsactive {
    height: 40px;
    width: 174px;
    border-style: none;
    background-color: #2d346770;
    color: #2d3467;
    /* background-image: linear-gradient(95deg,#2d3464, #6e717a); */
    font-size: 17px;
    color: #FFFFFF;
    display: inline-flex;
    column-gap: 20px;
    margin-top: 20px;
    /* border-radius: 10px 0px 0px 10px; */
    align-items: center;
    padding-left: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px #2d346770;
}

button#exitbutton {
    border-style: none;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-weight: 700;
    width: 174px;
    background-color: transparent;
    height: 40px;
    gap: 5px;
    font-size: 15px;
    justify-content: center;
}

button#exitbutton:hover{
    background:#2d346750;
    color: #2d3467;
}

nav#nav {
    display: inline-flex;
    height: 40px;
    width: 440px;
    gap: 20px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    align-items: center;
    margin-left: 460px;
    justify-content: space-evenly;
    align-content: center;
}



#content {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding-left: 174px;
    justify-content: center;
}

.textinput-select {
    width: 177px;
    height: 35px;
    border-radius: 5px;
    padding: 10px;
    border-style: none;
    background-color: white;
    border-width: thin;
    /* margin-left: 10px; */
    margin-right: 30px;
    margin-top: 5px;
    cursor: pointer;
}
.textinput-select-1{
    width: 315px;
    height: 45px;
    border-radius: 5px;
    padding: 10px;
    border-style: none;
    background-color: white;
    border-width: thin;
    margin-left:10px;
    cursor: pointer;
}

div#plan {
    background-color: white;
    width: 1000px;
    margin-left: 170px;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

div#busdetails {
    background-color: white;
    margin-left: 170px;
    width: 1000px;
    height: 680px;
    border-radius: 10px;
    font-size: medium;
    margin-top: 30px;
    box-shadow: 0px 0px 5px -2px #2d3467;
}

div#busname {
    display: flex;
    align-items: center;
    width: 905px;
    margin-top: 20px;
    padding: 15px;
    background-color: #dadada;
    border-radius: 5px;
    margin-left: 30px;
    
}

input.textinput {
    width: 315px;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
    border-style: none;
    background-color: white;
    border-width: thin;
    margin-left:10px;
}

textarea {
    width: 420px;
    height: 240px;
    border-radius: 5px;
    padding: 5px;
    border-style: none;
    background-color: white;
    border-width: thin;
}

p.textcontent {
    margin-left: 22px;
}

p.textcontent1 {
    margin-left: 55px;
}

div#imagediv {
    width: 915px;
    text-align: center;
    padding: 10px;
    background-color: #dadada;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 30px;
    color: #2d3467;
}

label#slotimageadd {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}


input#inputTag{
    display: none;
}
input.inputTag {
    height: 40px;
    width: 125px;
    margin-top: -36px;
    opacity: 0%;
    cursor: pointer;
}
input#inputTag-image {
    position: relative;
    z-index: 2;
    padding: 5px;
    margin-top: -33px;
    width: 130px;
    opacity: 0%;
    cursor: pointer;
}
label{
    cursor:pointer;
}

button#uploadbutton {
    width: 150px;
    height: 35px;
    margin-left: 400px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #2d3467;
    color: white;
    font-size: medium;
    border-style: none;
    cursor: pointer;
}

button#uploadbutton-busdata {
    width: 140px;
    height: 35px;
    margin-left: 425px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: #2d3467;
    color: white;
    font-size: medium;
    border-style: none;
    cursor: pointer;
}

button#uploadbutton:hover,button#uploadbutton-busdata:hover{
    color: #ffffff;
    background-color: #2d346770;
}

p.disclimer {
    margin-top: 15px;
    display: flex;
    opacity: 80%;
    justify-content: center;
}

input.planinputcontent{
    width: 315px;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
    border-style: none;
    background-color: white;
    border-width: thin;
    margin-left:10px;
}

.planlocationinput{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    padding: 5px;
    border-style: none;
    background-color: white;
    border-width: thin;
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}


div#plantitle {
    display: flex;
    background-color: #dadada;
    padding: 15px;
    border-radius: 5px;
    align-items: center;
    margin-top: 20px;
    width: 930px;
}

div#planlocation {
    display: flex;
    flex-direction: column;
    background-color: #dadada;
    padding: 15px;
    margin-left: 30px;
    height: 130px;
    border-radius: 5px;
    width: 905px;
    margin-top: 20px;
    overflow: scroll;
    overflow-x: hidden;
}

#dayplanlocation{
    display: flex;
    flex-direction: column;
    background-color: #dadada;
    padding: 15px;
    border-radius: 5px;
    width: 930px;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 20px;
}

::-webkit-scrollbar{
    display: none;
  }

  #dayplanlocation::-webkit-scrollbar,#planlocation::-webkit-scrollbar,div#plan::-webkit-scrollbar,.img-result::-webkit-scrollbar,pre::-webkit-scrollbar,.planscroll::-webkit-scrollbar,.manager-inner-div2::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  #dayplanlocation::-webkit-scrollbar-track,#planlocation::-webkit-scrollbar-track,div#plan::-webkit-scrollbar-track,.img-result::-webkit-scrollbar-track,.planscroll::-webkit-scrollbar-track,.manager-inner-div2::-webkit-scrollbar-track{
    border-radius:0px 10px 10px 0px;
    background: #dadada; 
  }
  pre::-webkit-scrollbar-track {
    background: transparent;
  }
   
  /* Handle */
  #dayplanlocation::-webkit-scrollbar-thumb,#planlocation::-webkit-scrollbar-thumb,div#plan::-webkit-scrollbar-thumb,.img-result::-webkit-scrollbar-thumb,pre::-webkit-scrollbar-thumb,.planscroll::-webkit-scrollbar-thumb,.manager-inner-div2::-webkit-scrollbar-thumb {
    /* background: #484d6d;  */
    background-image: linear-gradient(95deg,#2d3465,#7c7e7e);
    border-radius:10px;
  }
  
  /* Handle on hover */
  #dayplanlocation::-webkit-scrollbar-thumb:hover,#planlocation::-webkit-scrollbar-thumb:hover,div#plan::-webkit-scrollbar-thumb:hover,.img-result::-webkit-scrollbar-thumb:hover,pre::-webkit-scrollbar-thumb:hover,.planscroll::-webkit-scrollbar-thumb:hover,.manager-inner-div2::-webkit-scrollbar-thumb {
    background: #2d3464; 
  }

  .delete-button{
    background-image: linear-gradient(95deg,#2d3465,#7c7e7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-style: none;
    cursor: pointer;
    margin-right: 40px;
  }

  p#username {
    display: flex;
    justify-content: center;
    width: 180px;
    margin-top: 15px;
    height: 25px;
    font-size: 13px;
    font-weight: 600;
    align-items: center;
    padding: 10px;
    position: absolute;
    /* background: -webkit-linear-gradient(95deg,#ae006b, #2d3464); */
    background-image: linear-gradient(95deg,#2d3465,#7c7e7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.addinput{
    width: 100px;
    height: 30px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #2d3467;
    color: white;
    font-size: small;
    border-style: none;
    cursor: pointer;
}

#activestatus{
    background-color: #7b014c;
    width: 5px;
    height: 25px;
    z-index: -1px;
}

#activestatus-div{
    background-color: red;
    width: 5px;
    height: 20px;
    z-index: -1px;
}

p.plantextcontent {
    margin-left: 22px;
}

input.textinput:focus,input.planinputcontent:focus,.textinput-select:focus,.planlocationinput:focus,.textinput-select-1:focus,.dayplantextarea:focus,.mainspotfocus{
    outline: none;
}

p#status {
    margin-top: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    border-style: none;
    color: white;
    background-color: #2aa544;
    font-size: medium;
    width: 920px;
    border-radius: 6px;
    border-color: black;
    margin-bottom: 10px;
    justify-content: center;
    margin-left: 33px;
}

p#status1 {
    margin-top: 25px;
    padding: 5px;
    display: flex;
    align-items: center;
    border-style: none;
    color: white;
    background-color: brown;
    font-size: medium;
    width: 920px;
    border-radius: 6px;
    border-color: black;
    margin-bottom: 10px;
    justify-content: center;
    margin-left: 33px;
}


div#contentdivision1 {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    height: 580px;
    width: 200px;
    margin-left: 45px;
    margin-top: 45px;
    position: fixed;
    box-shadow: 0px 0px 5px -2px #2d3467;
}

img#profilepic {
    width: 110px;
    height: 110px;
    border-radius: 4px;
    border-style: solid;
    border-color: #dadada;
    box-shadow: 0px 1px 5px -1px #2d3467;
    margin-left: 45px;
    margin-top: 15px;
}

h4#username {
    display: flex;
    justify-content: center;
    width: 180px;
    height: 25px;
    align-items: center;
    padding: 10px;
    position: absolute;
    /* background: -webkit-linear-gradient(95deg,#ae006b, #2d3464); */
    background-image: linear-gradient(95deg,#2d3465,#7c7e7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
form#photoinput {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

button#savebutton {
    margin-top: 20px;
    width: 150px;
    font-size: medium;
    height: 5vh;
    border-radius: 5px;
    background-color: #dadada;
    border-style: hidden;
    cursor: pointer;
    margin-left: 24px;
    box-shadow: 0px 1px 5px 0px #2d3467;
    margin-bottom: 40px;
}

button#savebutton:hover,#photodiv:hover{
    /* background-color: #5d6175;
    color: white; */
    color: #ffffff;
    background-color: #2d346770;
}

#photodiv {
    text-align: center;
    border-style: solid;
    padding: 2%;
    border-width: 1px;
    border-radius: 5px;
    width: 170px;
    margin-left: 10px;
}

#inputimage {
    opacity: 0%;
    height: 40px;
    width: 119px;
    position: absolute;
    cursor: pointer;
}

label{
    cursor:pointer;
}

.planscroll{
    overflow: auto;
    overflow-x: hidden;
}

#profilecontent {
    display: inline-flex;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.contentdivision2 {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 25px;
    width: 945px;
    box-shadow: 0px 0px 5px -2px #2d3467;
}

.contentbutton1,.contentbutton2 {
    display: inline-flex;
    gap: 10px;
    margin-top: 20px;
    border-style: none;
    background-color: transparent;
    width: 180px;
    margin-left: 55px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    
}

.contentbutton1active {
    display: inline-flex;
    gap: 10px;
    margin-top: 20px;
    border-style: none;
    padding-left: 34px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    color: #2d3467;
    background: #2d346750;
    width: 195px;
    height: 21px;
    margin-left: 27px;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
    .contentdivision2{
        background-color: #ffffff;
    }
}

.activestatus-divactive {
    background-color: #2d3467;
    width: 5px;
    position: absolute;
    height: 45px;
    margin-top: -40px;
    margin-left: 220px;
    border-radius: 5px 0px 0px 5px;
}

.contentbutton2:hover,.contentbutton1:hover{
   color: #2d3467;
}

#contactnumber {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    color: #2d3467;
    gap: 5px;
    align-items: center;
}

.fa-phone:before {
    content: "\f095";
    height: 15px;
    display: flex;
    align-items: center;
}

.contentbutton1active, .contentbutton2active {
    display: inline-flex;
    gap: 10px;
    margin-top: 20px;
    border-style: none;
    padding-left: 34px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    color: #2d3467;
    background: #2d346750;
    width: 195px;
    height: 35px;
    margin-left: 27px;
    align-items: center;
    border-radius: 5px 0px 0px 5px;
}

#searchresultdiv {
    display: inline-flex;
    width: 425px;
    color: white;
    align-items: center;
    font-size: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    background-color: #5d6175;
    padding-left: 20px;
    padding-top: 13px;
    position: sticky;
    margin-left: -15px;
    margin-top: -55px;
}

#bus-features{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    gap: 5px;
    color: #2d3467;
}

.plan_data_detail{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

#plan-features {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    gap: 10px;
    color: #2d3467;
}

#search-div {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    height: 442px;
    width: 425px;
    box-shadow: 0px 2px 5px -1px #2d3467;
}

#search-div:hover {
    box-shadow: 1px 0px 15px -2px #2d3467;
    /* background-color: #dadada; */
    transform: scale(1.02);
}

.contentdivision2 {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    align-content: flex-start;
    margin-left: 325px;
    .fa-angle-right{
        display: block;
    }
}

#refer-avalibality {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#buspic {
    height: 207px;
    width: 455px;
    border-radius: 0px 0px 5px 5px;
    margin-left: -15px;
    margin-top: 5px;
    cursor: pointer;
}

#plan-status-success {
    color: #2aa544;
    padding-left: 15px;
    background-color: #FFFFFF;
    padding-right: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px -1px rgb(0,0,0.1);
    cursor: pointer;
}

#plan-status-success:hover+.tooltiptext{
    display: block;
}

#plan-status-failure:hover+.tooltiptext1{
    display: block;
}

.tooltiptext{
    position: absolute;
    z-index: 3;
    font-size: 12px;
    margin-top: -40px;
    margin-left: 260px;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: none;
}
.tooltiptext1 {
    position: absolute;
    z-index: 3;
    font-size: 12px;
    margin-top: -40px;
    margin-left: 190px;
    color: #FFFFFF;
    border-radius: 5px 5px 5px 0px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: none;
}

#plan-status-failure{
    background-color: #FFFFFF;
    color: #cc0000;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px -1px rgb(0,0,0.1);
    cursor: pointer;
}

#bus-name{
    cursor: pointer;
    font-weight: 800;
    color: #FFFFFF;
    /* background: -webkit-linear-gradient(95deg,#6e717a, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

#bus-name-edit,#plandelete{
    cursor: pointer;
    /* background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #FFFFFF;
}

#busdelete{
    cursor: pointer;
    color: white ;
}

#plan-module-inner {
    display: inline-flex;
    width: 920px;
    border-radius: 5px 5px 0px 0px;
    padding: 8px;
    background-color: #5d6175;
    color: #FFFFFF;
    font-size: 10px;
    margin-top: -15px;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    margin-left: -15px;
    padding-right: 15px;
    padding-top: 13px;
    position: sticky;
}

#plan-module-outer {
    background-color: white;
    padding: 15px;
    margin-top: 5px;
    border-radius: 5px;
    width: 920px;
    box-shadow: 0px 2px 5px -1px #2d3467;
    .fa-location-arrow,.fa-calendar-day{
        width: 15px;
    }
    
}

.contentdivision2{
    background-color: transparent;
    box-shadow: none;
}

#plan-module-outer:hover {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 15px -2px #2d3467;
}

#busplan{
    background-color: #FFFFFF;
    height: 367px;
    width: 440px;
    border-radius: 0px 0px 0px 5px;
    margin-left: -15px;
    margin-top: 10px;
    border-style: none;
}
#slideshow {
    width: 455px; 
    height: 216px;
    overflow: hidden;
    cursor: pointer;
  }
  
  #slide {
    display: none;
  }
  
#contentdivision3{
    display: flex;
    flex-wrap: wrap;
    gap:35px;
    overflow: scroll;
}

#contentdivision3::-webkit-scrollbar,.dayplantextarea::-webkit-scrollbar {
    display: none;
}

.dayplantextarea {
    resize: none;
    margin-top: -25px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 0px 5px -3px rgb(0,0,0.1);
}

#input-container-dayplan {
    display: flex;
    flex-direction: row;
    gap: 18px;
    flex-wrap: wrap;
}

div#contentdivision3 {
    background-color: white;
    margin-top: 55px;
    border-radius: 10px;
    padding: 25px;
    height: 536px;
    width: 950px;
    display: flex;
}

.bus-content {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 1023px;
    box-shadow: -1px 0px 5px -3px rgb(0,0,0.1);
    flex-wrap: wrap;
    border-radius: 10px 10px 0px 0px;
    align-items: center;
    color: white;
    background-color: #5d6175;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    margin-right: -25px;
    justify-content: space-around;
}

#search-div-1 {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    height: 245px;
    width: 435px;
    box-shadow: 0px 0px 5px 1px #2d3467;
}

.fa-trash-restore-alt {
    margin-left: -110px;
    position: fixed;
    margin-top: -128px;
    background-color: #dadada;
    color: #2d3467;
    width: 95px;
    height: 35px;
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    border-radius: 0px 5px 0px 30px;
    box-shadow: 0px 1px 5px -1px #2d3467;
    cursor: pointer;
}

.fa-trash-restore-alt:hover{
    /* background-color: white; */
    color: #7b014c;
}

.img-result {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    height: 525px;
    width: 985px;
    margin-top: 25px;
    overflow: auto;
    margin-right: -20px;
    overflow-x: hidden;
    padding-top:20px ;
    z-index: 2;
    position: absolute;
}

.edit-info-input{
    padding: 2%;
    height: 3vh;
    width: 370px;
    margin-top: 7px;
    border-style: hidden;
    font-size: small;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #2d3467;
}

div#searchresultdiv2 {
    background: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 955px;
    margin-top: 55px;
    border-radius: 10px;
    padding: 25px;
    align-items: center;
}

#searchresultdiv3 {
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 260px;
    background-color: #5d6175;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 910px;
}

#image-edit-div{
    position: absolute;
    margin-left: 400px;
    margin-top: -100px;
}

#edit-content {
    /* margin-top: 95px; */
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 15px;
    color: white;
    margin-top: 50px;
}

select.edit-selector {
    margin-left: 20px;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    height: 40px;
    width: 175px;
}

#inner-div-content{
    display: flex;
    flex-direction:column;
}

#edit-info-input{
    padding: 2%;
    height: 3vh;
    width: 370px;
    margin-right: 20px;
    margin-top: 7px;
    margin-bottom: 20px;
    border-style: hidden;
    font-size: small;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #2d3467;
    outline: none;
}

#edit-info-input-1{
    padding: 2%;
    height: 4vh;
    width: 170px;
    margin-right: 20px;
    margin-top: 7px;
    margin-bottom: 20px;
    border-style: hidden;
    font-size: small;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #2d3467;
    outline: none;
}


#buspic-edit {
    height: 320px;
    width: 450px;
    margin-left: 25px;
    margin-top: 230px;
    border-radius: 10px;
    margin-right: 15px;
    box-shadow: 0px 0px 5px 0px #2d3467;
}

.savebutton{
    position: absolute;
    width: 26vh;
    margin-left: 150px;
    margin-top: -190px;
    font-size: medium;
    height: 5vh;
    border-radius: 5px;
    background-color:white;
    border-style: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px #2d3467;
}

.savebutton:hover{
    background-color: #2d346770;
    color: #ffffff;
}

#button-update-bus {
    margin-left: -245px;
    height: 150px;
    margin-top: 170px;
    width: 450px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    display: none;
    position: fixed;
    background-color: white;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #2d3467;
    z-index: 1;
}

#button-update{
    margin-left: -720px;
    height: 150px;
    margin-top: 170px;
    width: 450px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    display: none;
    position: fixed;
    background-color: white;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #2d3467;
    z-index: 2;
}

#button-delete-bus {
    margin-left: -735px;
    height: 150px;
    margin-top: 175px;
    width: 450px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    display: none;
    position: absolute;
    background-color: white;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 3px #2d3467;
    z-index: 4;
}

.aunchor-close{
    text-decoration: none !important;
}

.btn {
    padding: 12px 20px;
    border: none;
    background-color: #2aa544;
    color: #fff;
    cursor: pointer;
    width: 200px;
    margin-bottom: 15px;
    border-radius: 5px;
    opacity: 0.8;
}

.btn:hover{
    opacity: 1;
}

.cancel {
    background-color: #cc0000;
}

#sure-id {
    margin-top: 30px;
    cursor: pointer;
    font-weight: 700;
    background: -webkit-linear-gradient(95deg,#6e717a, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
}

#btn-yes-no{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

select.textcontent1.textinput {
    width: 315px;
    margin-left: 20px;
    height: 45px;
    border-radius: 5px;
    outline: none;
    border-style: none;
    padding: 5px;
    cursor: pointer;
}

.text-input{
    margin-left: 30px;
}

#txt-nobus {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: 600px;
    flex-wrap: nowrap;
    margin-top: 310px;
}

#sademoji::before {
    color: #2d3467;
}

#error{
    font-size: 19px;
}
#error1{
    font-size: 13px;
}

#searchresultdiv1 {
    display: flex;
    flex-direction: column;
    width: 337px;
    margin-top: 230px;
    padding: 15px;
    border-radius: 10px;
    margin-left: -710px;
    align-items: center;
    justify-content: center;
    margin-bottom: 219px;
    background-color: white;
}

a#target-page {
    display: flex;
    height: 30px;
    gap: 7px;
    text-decoration: none;
    margin-top: 10px;
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: medium;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

a#target-page-1 {
    display: flex;
    height: 30px;
    gap: 7px;
    text-decoration: none;
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: medium;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

#target-page:hover,#target-page-1:hover{
    background: -webkit-linear-gradient(95deg,#6e717a, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}


.fa-chevron-right{
    margin-top: 5px;
}

#btn-plus{
    background-color: transparent;
    border-style: solid;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#btn-plus-1{
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-style: none;
    cursor: pointer;
}

#align-addnew {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    background: -webkit-linear-gradient(95deg,#6e717a, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#align-addnew:hover{
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#daywise-content-detail {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    font-weight: 600;
    margin-top: 120px;
    padding: 10px;
    overflow-wrap: break-word;
    width: 410px;
}

#search-div-plus {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    height: 442px;
    width: 425px;
    display: flex;
    box-shadow: 0px 0px 5px -1px #2d3467;
    justify-content: center;

}
.fa-couch,
.fa-fan,
.fa-radio,
.fa-glass-water-droplet,
.fa-lightbulb,
.fa-tags,
.fa-calendar-day,
.fa-location-arrow,
.fa-wifi,
.fa-suitcase-rolling,
.fa-tv{
    width: 25px;
}

.fa-location-dot{
    color: #cc0000;
}

#plan-location-cover {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    /* background: #dadade; */
    width: 730px;
    border-radius: 5px;
    cursor: pointer;
    /* box-shadow: 0px 0px 5px -1px #2d3467; */
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 5px;
}

.plan_data_detail_spot{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#plan-location-cover::-webkit-scrollbar {
    display: none;
}

button#uploadbutton-1 {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #2d3467;
    color: white;
    font-size: medium;
    border-style: none;
    cursor: pointer;
}

#search-div-addimage {
    background-color: white;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 245px;
    width: 435px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 1px 5px 0px #2d3467;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#label-addimage {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2d3467;
}

#btn-delete-total{
    margin-left: 150px;
}

#plan-module-outer-1 {
    background-color: white;
    padding: 15px;
    margin-top: 5px;
    border-radius: 5px;
    height: 540px;
    width: 920px;
    display: flex;
    box-shadow: 0px 0px 5px -1px #2d3467;
    justify-content: center;
}

.day-plan-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: #2d346799;
    height: 330px;
    border: solid;
    padding: 9px;
    color: #FFFFFF;
}

label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p#Daytext {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: -5px;
}

.mySlides.fade {
    width: 433px;
    height: 260px;
    margin-left: -4px;
    border-radius: 0px 0px 5px 5px;
}

.active {
    background: linear-gradient(95deg,#ae006b, #2d3464);
  }

  #prevNextButton {
    display: flex;
    flex-direction: row;
    position: sticky;
    margin-top: -155px;
    justify-content: space-between;
    width: 450px;
    margin-left: -15px;
    margin-right: -5px;
}

.prev-button {
    background: #00000099;
    color: #FFFFFF;
    width: 27px;
    height: 53px;
    padding: 10px;
    border: none;
    display: flex;
    border-radius: 0px 10px 10px 0px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.next-button {
    background: #00000099;
    color: #FFFFFF;
    width: 27px;
    height: 53px;
    padding: 10px;
    border: none;
    display: flex;
    border-radius: 10px 0px 0px 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.next-button:hover,.prev-button:hover{
    background-color: #dadade99;
    color: #000000;
}

#bus-image {
    width: 440px;
    height: 263px;
    margin-left: -1px;
    border-radius: 0px 0px 5px 5px;
}
#daywise-plan-detail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;

}

#plandetails-daywise {
    box-shadow: 0px 0px 5px -2px rgb(0,0,0.1);
    border-radius: 5px;
    padding: 5px;
    color: #2d3467;
    min-height: 330px;
    min-width: 430px;
}

p#day-header {
    margin-top: -5px;
    background: #2d3467;
    color: #FFFFFF;
    padding: 10px;
    margin-right: -5px;
    margin-left: -5px;
    border-radius: 5px 5px 0px 0px;
}

input.mainspotfocus {
    width: 420px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    border: none;
}

.suggestionfrom {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    background-color: #FFFFFF;
    margin-top: 43px;
    width: 430px;
    box-shadow: 0px 2px 5px 0px #727593;
    border-radius: 0px 0px 5px 5px;
}

#suggestionbutton {
    border-style: none;
    background: #FFFFFF;
    position: relative;
    z-index: 2;
    margin-top: -47px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 3px 5px -1px rgb(0,0,0.1);
    margin-bottom: -35px;
}

#suggestionbutton:hover {
    background-color: #dadada;
}

p#suggestion-location {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.manager-outer-div{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 75px;
    margin-top: 70px;
}

.manager-inner-div1{
    width: 480px;
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 600px;
    padding: 10px;
    box-shadow: 0px 0px 5px -2px #2d3467;
}

.manager-inner-div2 {
    width: 660px;
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 580px;
    gap: 20px;
    display: flex;
    padding: 20px;
    box-shadow: 0px 0px 5px -2px #2d3467;
    overflow-x: hidden;
    overflow-y: scroll;
    flex-direction: column;
}

.manager-inner-div3 {
    width: 680px;
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 600px;
    padding: 10px;
    gap: 5px;
    display: flex;
    font-size: 15px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    color: #2d3467;
    box-shadow: 0px 0px 5px -2px #2d3467;
}

#addmanager {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    margin-top: 30px;
}

.inner-addmager-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -15px;
}

.inner-addmager-div-gender {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5px;
}

#Mname, #contactno, #emailid, #password {
    padding: 2%;
    height: 3vh;
    width: 435px;
    margin-top: 7px;
    border-style: hidden;
    font-size: small;
    border-radius: 5px;
    box-shadow: 0px 0px 5px -1px #2d3467;
    background-color: #ffffff;
}

#gender {
    padding: 2%;
    height: 5vh;
    width: 453px;
    margin-top: 7px;
    border-style: hidden;
    font-size: small;
    border-radius: 5px;
    box-shadow: 0px 0px 5px -1px #2d3467;
    background-color: #ffffff;
}

#Mname:focus, #contactno:focus, #emailid:focus, #password:focus,#gender{
    outline: none;
}

#addmanager-button{
    height: 35px;
    padding: 10px;
    width: 120px;
    border-radius: 5px;
    background-color: #2d3467;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

#addmanager-button:hover{
    background-color: #2d346770;
    color: #ffffff;
}

.addmanger-header {
    font-size: 20px;
    font-weight: 600;
    background: -webkit-linear-gradient(95deg,#7b014c, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.managerdiv-outer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px -1px #2d3467;
}

.manager-profile{
    width: 100px;
}

.managerdiv-inner1{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.manager-content-div{
    display: flex;
    flex-direction: column;
}

.manager-personal-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 335px;
    justify-content: space-between;
}

.manager-header-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 490px;
    margin-top: 10px;
}

.fa-phone,.fa-envelope,.fa-person,.fa-eye-slash,.fa-eye{
    background: -webkit-linear-gradient(95deg,#7b014c, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.txt-personal-info {
    font-size: 14px;
    font-weight: 500;
    width: 280px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.fa-angle-right{
    display: none;
    margin-top: 1px;
}

.mail-requset-atag {
    background-color: transparent;
    border: none;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    display: flex;
    color: #2d3467;
    gap: 5px;
    flex-direction: row;
    cursor: pointer;
}

.mail-requset-atag:hover{
    background: -webkit-linear-gradient(95deg,#7b014c, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    .fa-angle-right{
        transition-delay: 1s;
        display: block;
    }
}

.manager-delete-btn{
    background-color: transparent;
    border: none;
    background: -webkit-linear-gradient(95deg,#7b014c, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.managername-txt{
    font-size: 20px;
    font-weight: 600;
    background: -webkit-linear-gradient(95deg,#7b014c, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.manager-companyname {
    font-size: 12px;
    font-weight: 500;
    color: #2d3467;
}

p.txt-personal-phone {
    font-size: 15px;
    position: absolute;
    margin-left: 230px;
}

.manager-gender{
    font-size: 15px;
    margin-left: 260px;
}

i#togglePassword {
    margin-top: -25px;
    margin-left: 410px;
    cursor: pointer;
}

.align-eye {
    padding-right: 2px;
  }

  .buttonbooking-result{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  div#booking-header-div {
    position: fixed;
    margin-left: 470px;
    display: flex;
    z-index: 1;
    gap: 5px;
    margin-top: -75px;
    background: #ffffff;
    flex-direction: column;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 1px 5px -1px #2d3467;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

.wipe-down-arrow{
    animation: wipedown 1s ease-in-out;
}

.wipe-up-arrow{
    animation: wipeup 1s ease-in-out;
}

@keyframes wipeup{
    0% { 
        margin-top: -20px;
    }
    100% {
        margin-top: -75px;
    }
}

@keyframes wipedown{
    0% { 
        margin-top: -75px;
    }
    100% {
        margin-top: -20px;
    }
}

#wipe-button{
    border:none;
    background: -webkit-linear-gradient(95deg,#7b014c, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.bookinnerheaderactive{
    background-color: #2d3467;
    color: #ffffff;
}

.bookinnerheaderactive {
    color: #ffffff;
    border: none;
    padding: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    border-radius: 5px;
    height: 40px;
    align-items: center;
    background-color: #2d3467;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 0px 5px -2px #2d3467;
}

.bookinnerheader2:hover,.bookinnerheader1:hover{
    background-color: #2d346770;
    color: #2d3467;
}

.bookinnerheader2,.bookinnerheader1{
    background-color: #ffffff;
    border: none;
    padding: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    border-radius: 5px;
    height: 40px;
    align-items: center;
    color: #2d3467;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 0px 5px -2px #2d3467;
}


#inner-content-block {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 1250px;
    border-radius: 5px;
    padding: 15px;
    height: 315px;
    margin-left: 25px;
    box-shadow: 0px 1px 5px -2px #2d3467;
}

div#buscontent-owner-name {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    font-weight: 500;
}

img#busimage {
    width: 380px;
    height: 210px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px -2px #2d3467;
}

.bookingcontent-id {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
}

.location-content-1 {
    margin-left: 10px;
    margin-top: 15px;
}

img#dealerimage {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

p.SEdate-content {
    font-size: 18px;
    font-weight: 600;
}

.buscontent-main-div {
    display: flex;
    flex-direction: row;
}

.location-content {
    margin-left: 50px;
    margin-top: 15px;
}

.bookinnercontent {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#days-staus-icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 15px;
}

#status-days {
    display: flex;
    font-size: 17px;
    width: 160px;
    border-radius: 5px;
    font-weight: 400;
    position: absolute;
    padding: 2px;
    color: #FFFFFF;
    margin-left: 310px;
    background: #2d3467;
    justify-content: center;
}

.pickupdrop-header {
    color: #2d3467;
    font-weight: 700;
}

#datediv-outer {
    display: flex;
    flex-direction: row;
    gap: 25px;
    position: absolute;
    margin-left: 500px;
}

#inner-buscontent {
    display: flex;
    flex-direction: row;
}

.order-detail-content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

.bookingcontent-date {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 12px;
    font-weight: 500;
    width: 210px;
}

a#receipt_generate {
    background: #2d3467;
    padding: 8px;
    border-radius: 5px;
    position: absolute;
    height: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    text-decoration: none;
}

.statusheadercolor,.statusheadercolorcompleted {
    height: 5px;
    background-color: #2d3467;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 15px;
    border-radius: 5px 5px 0px 0px;
}

.statusheadercolorcompleted{
    background-color: #2aa544;
}

.paidammount-content {
    display: flex;
    border: none;
    width: 170px;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    background: #dadade;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    box-shadow: 0px 0px 5px -1px #2d3467;
    font-weight: 500;
    justify-content: center;
}

.balanceamount-content {
    display: flex;
    border: none;
    border-radius: 5px;
    background: #2d3467;
    flex-direction: row;
    align-items: center;
    color: #FFFFFF;
    gap: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px -1px #2d3467;
}

button.status-button-success {
    position: absolute;
    margin-left: 226px;
    width: 154px;
    height: 25px;
    border-radius: 30px;
    border: none;
    display: flex;
    gap: 5px;
    background: #2d3467;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

#cover-location-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5px;
    width: 515px;
    column-gap: 15px;
}

.pickupdrop-content {
    width: 300px;
    word-wrap: break-word;
    font-size: 14px;
}