*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: linear-gradient(45deg, #7c7e7e, #2d3465);
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Philosopher', sans-serif; */
    font-style: normal;
}

form#loginform, .contentBlock {
    display: inline-flex;
    flex-direction: column;
    margin-left: 515px;
    margin-top: 145px;
    background-color: white;
    padding: 30px;
    width: 445px;
    height: 420px;
    border-radius: 10px;
}

.outline:focus,.input-opt:focus,.input-pwd:focus{
    outline: none;
}

#uname, #pwd,#email,#cpwd,.input-pwd{
    padding: 2%;
    height: 3vh;
    width: 97%;
    margin-top: 7px;
    border-style: hidden;
    font-size: small;
    border-radius: 5px;
    box-shadow: 0px 0px 5px -1px #2d3467;
}

button#loginbutton,.submitbutton {
    margin-left: 130px;
    width: 180px;
    height: 40px;
    background-color:white;
    border-style: none;
    margin-top: 30px;
    font-size: medium;
    cursor: pointer;
    box-shadow: 0px 0px 5px -1px #2d3467;
    border-radius: 5px;

}


button#loginbutton:hover,.submitbutton:hover{
    background-image: linear-gradient(95deg,#5c6074, #2d3464);

    color: white;
}

label {
    margin-top: 25px;
}

h2#logintxt,.logintxt-verify {
    display: flex;
    justify-content: center;
    /* background: -webkit-linear-gradient(95deg,#ae006b, #2d3464); */
    background-image: linear-gradient(45deg,#5c6074, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#logintxt-verify{
    display: flex;
    justify-content: center;
    /* background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
     */
    background-image: linear-gradient(45deg,#5c6074, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#logintxt-fpwd {
    display: flex;
    justify-content: center;
    /* background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
     */
    background-image: linear-gradient(45deg,#5c6074, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4.warning {
    padding: 5px;
    display: flex;
    align-items: center;
    border-style:none;
    margin-top: 15px;
    color: white;
    /* background: linear-gradient(275deg,#ae006b, #2d3464); */
    background-image: linear-gradient(95deg,#5c6074, #2d3464);
    font-size: small;
    border-radius: 5px;
    justify-content: center;
}

#button-home {
    position: sticky;
    padding-left: 30px;
    height: 40px;
    margin-top: -55px;
    width: 220px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    color: white;
    border-style: none;
    box-shadow: 0px 0px 5px -1px rgb(0,0,0.1);
    /* background: linear-gradient(275deg,#ae006b, #2d3464); */
    background-image: linear-gradient(95deg,#5c6074, #2d3464);
    /* background-color: #2d3465; */
    justify-content: flex-start;
    font-weight: 700;
    cursor: pointer;
    margin-left: 655px;
}

.otpInputs {
    display: flex;
    justify-content: center;
}

.fa-long-arrow-alt-right{
    position: absolute;
    margin-left: -150px;
    color: white;
    animation: swipeLeft 1s ease-in-out infinite ;
    width: 360px;
}

@keyframes swipeLeft {
  0%{
    transform: translateX(85px);
  }
  100% {
    transform: translateX(170px);
  }
}

a#fpwd {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 14px;
    margin-top: 5px;
}

a#fpwd:hover{
    color: #ae006b;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .dot-pos {
    margin-top: 395px;
    margin-left: 195px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    /* align-items: center;
    justify-content: center; */
    position: absolute;
    z-index: 2;
}
.input-opt {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin: 0 5px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 0px 5px -1px #2d3467;
}

.verify-btn {
    width: 150px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-style: none;
    background-color: white;
    box-shadow: 0px 0px 5px -1px #2d3467;
    color: #2d3467;
    border: none;
    margin-top: 50px;
    margin-left: 147px;
    border-radius: 5px;
}

.verify-btn:hover{
    background-image: linear-gradient(95deg,#5c6074, #2d3464);
    color: white;
}

.p-verify {
    display: flex;
    justify-content: center;
}

