*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: linear-gradient(45deg, #7c7e7e, #2d3465);
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Philosopher', sans-serif; */
    font-style: normal;
}

form#loginform {
    display: inline-flex;
    flex-direction: column;
    margin-left: 550px;
    margin-top: 145px;
    background-color: white;
    padding: 30px;
    width: 400px;
    height: 420px;
    border-radius: 10px;
}

.outline:focus{
    outline: none;
}

#uname, #pwd {
    padding: 2%;
    height: 3vh;
    width: 97%;
    margin-top: 7px;
    border-style: hidden;
    font-size: small;
    border-radius: 5px;
    box-shadow: 0px 0px 5px -1px #2d3467;
}

button#loginbuttom {
    margin-left: 105px;
    width: 180px;
    height: 40px;
    background-color:white;
    border-style: none;
    margin-top: 30px;
    font-size: medium;
    cursor: pointer;
    box-shadow: 0px 0px 5px -1px #2d3467;
    border-radius: 5px;

}


button#loginbuttom:hover{
    background-image: linear-gradient(95deg,#2d3465,#7c7e7e);
    color: white;
}

label {
    margin-top: 25px;
}

h2#logintxt {
    margin-left: 112px;
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h4#warning {
    padding: 5px;
    display: flex;
    align-items: center;
    border-style:none;
    margin-top: 15px;
    color: white;
    background: linear-gradient(275deg,#ae006b, #2d3464);
    font-size: small;
    border-radius: 5px;
    justify-content: center;
}

#button-home {
    position: sticky;
    padding-left: 30px;
    height: 40px;
    margin-top: -55px;
    width: 220px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    color: white;
    border-style: none;
    box-shadow: 0px 0px 5px -1px rgb(0,0,0.1);
    background: linear-gradient(275deg,#ae006b, #2d3464);
    /* background-image: linear-gradient(225deg,#2d3465,#7c7e7e); */
    /* background-color: #2d3465; */
    justify-content: flex-start;
    font-weight: 700;
    cursor: pointer;
    margin-left: 665px;
}

.fa-long-arrow-alt-right{
    position: absolute;
    margin-left: -150px;
    color: white;
    animation: swipeLeft 1s ease-in-out infinite ;
    width: 360px;
}

@keyframes swipeLeft {
  0%{
    transform: translateX(85px);
  }
  100% {
    transform: translateX(170px);
  }
}