*{
    padding: 0px;
    margin: 0px;
}

#suggestionfrom {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    margin-top: 83px;
    width: 420px;
    z-index: 4;
    box-shadow: 0px 10px 8px -2px rgb(0,0,0.1);
    border-radius: 0px 0px 5px 5px;
}

img#profilepic-2 {
    border-radius: 20px;
    width: 35px;
    margin-left: 540px;
    margin-top: -15px;
}

p#suggestion-location {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

#suggestionfrombutton, #suggestiontobutton {
    border-style: none;
    background: transparent;
    /* margin-left: -10px;
    margin-right: -10px; */
}

#suggestionfrombutton:hover,#suggestiontobutton:hover {
    background-color: #dadada;
}

#suggestionto {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    padding-top: 5px;
    margin-top: 179px;
    width: 420px;
    z-index: 4;
    /* box-shadow: 0px 10px 8px -2px rgb(0,0,0.1); */
    border-radius: 0px 0px 5px 5px;
}

.fa-building{
    color: #2d3467;
}

#homenavbar {
    height: 80px;
    width: 1534px;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 0px 10px -2px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    align-items: center;
}

#appicon {
    height: 70px;
    width: 120px;
    margin-left: 30px;
    margin-top: -10px;
}
body{
    /* background-image: linear-gradient(45deg, #7c7e7e, #2d3465); */
    /* background: -webkit-linear-gradient(145deg,#ae006b, #2d3464); */
    background: url("https://lh3.googleusercontent.com/drive-viewer/AITFw-wDBhRB4VWAAz9mOrPyIQsK6NsjbvZvemMubGVF1OISZ_NK_24tyPRd3It8w6pL0PAdzMbxmOQsXGN3d82vOfehXykc=s1600");
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Philosopher', sans-serif; */
    font-style: normal;
}

#main{
    display: flex;
    flex-direction: column;
}
.bookingdiv,.accountdiv,.profilediv {
    display: inline-flex;
    align-items: end;
}



img#buspic:hover{
    box-shadow: 0px 1px 5px 2px #2d3464;
}

#outer-photo-block {
    position: absolute;
    margin-top: 75px;
    width: 1100px;
    height: 565px;
    background-color: white;
    padding: 30px;
    margin-left: 275px;
    margin-right: 250px;
    display: inline-flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
}

#bus-img {
    height: 100vh;
    background-image: linear-gradient(45deg, #7c7e7e, #2d3465);
    gap: 40px;

}


button#bookingbutton {
    border-style: none;
    background-color: transparent;
    font-size: 17px;
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    margin-top: 15px;
    justify-content: center;
}

button#profilebutton{
    border-style: none;
    background-color: transparent;
    font-size: 17px;
    margin-top: 15px;
    display: inline-flex;
    margin-left: 50px;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}


img#bookingimg ,img#accountimg , img#profileimg,img#exitimg{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.exitdiv {
    display: flex;
}

button#exitbutton {
    margin-left: 45px;
    border-style: none;
    cursor: pointer;
    display: flex;
    background: transparent;
    align-items: center;
    font-weight: 700;
    gap: 5px;
    font-size: 18px;
    /* background-image: linear-gradient(275deg,#2d3464, #6e717a); */

}

button#exitbutton:hover{
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bookingdiv {
    /* background-image: linear-gradient(95deg,#2d3465, #616575); */
    /* background-color: #402c65; */
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 120px;
}

#fromToBlock {
    width: 430px;
    height: 500px;
    display: inline-flex;
    flex-direction: column;
    margin-left: 120px;
    margin-top: 30px;
    padding: 30px;
    border-radius: 10px;
    /* background-color: #dadade; */
    gap: 10px;
    background: rgba(0, 0, 0, 0.73);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    /* border: 1px solid rgba(0, 0, 0, 0.39); */
}

#label-content {
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    margin-top: 5px
}

#label-content-flex {
    color: #FFFFFF;
    margin-left: 115px;
    margin-top: 5px;
}

#img-homepage-gif {
    width: 490px;
    height: 200px;
    z-index: 2;
    margin-top: -30px;
    border-radius: 10px 10px 0px 0px;
}

p#fromtext, p#totext {
    width: 400px;
    padding: 10px;
    border-radius: 5px;
    height: 30px;
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 6px -2px #2d3467;
    align-items: center;
}

input#from{
    padding: 5px;
    width: 350px;
    border-style: none;
    margin-left: 10px;
}

input#from:focus , input#to:focus{
    outline: none;
}

input#to {
    padding: 5px;
    width: 350px;
    margin-left: 10px;
    border-style: none;
}

img#city {
    width: 20px;
    height: 20px;
}

input#calander {
    padding: 10px;
    width: 400px;
    border-radius: 5px;
    border-style: none;
    height: 25px;
    box-shadow: 0px 0px 6px -2px #2d3467;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position:fixed;
    /* left: 665px; */
    width: 20px;
    height: 20px;
    cursor: pointer;
}

input#calander:focus{
    outline:none;
}

input::-webkit-datetime-edit-fields-wrapper {
    position: relative;
    left: 15px;
    opacity: 80%;
}
input::-webkit-datetime-edit {
    position: relative;
    left: 5%;
}

button#searchbutton {
    width: 220px;
    height: 40px;
    background-color: white;
    border-style: none;
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 5px;
    font-size: medium;
    cursor: pointer;
    box-shadow: 0px 0px 5px -1px #2d3467;
}

button#searchbutton:hover{
    /* background-image: linear-gradient(95deg,#2d3464, #696c78); */
    background-color: #2d3467;
    color: #FFFFFF;
}

#content{
    display: inline-flex;
    flex-direction: row;
    margin-left: 100px;
}



button#swapbutton {
    width: 2px;
    height: 2px;
    margin-left: 290px;
    border-radius: 50px;
    margin-top: -1px;
}

button#home{
    height: 25px;
    background-color: transparent;
    border-style: none;
    color: #2d3467;
    cursor: pointer;
    font-size: medium;
}

button#home:hover{
    color: #7b014c;
}

nav#nav {
    display: inline-flex;
    /* background-color: white; */
    height: 50px;
    width: 475px;
    margin-left: 620px;
    border-radius: 0px 0px 15px 15px;
    align-items: center;
    position: fixed;
    justify-content: center;
    box-shadow: 0px 1px 8px 1px #2d3467;
    
}

#fetch-content-maindiv {
    width: 1130px;
    height: 605px;
    background-color: white;
    padding: 30px;
    margin-left: 280px;
    border-radius: 10px;
    margin-top: 65px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    overflow: scroll;
}

#fetch-content-maindiv::-webkit-scrollbar {
    display: none;
}

#searchresultdiv{
    display: inline-flex;
    width: 450px;
    align-items: center;
    font-size: 10px;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

}

#search-div:hover {
    background-color:#dadada;
    box-shadow: 0px 1px 5px 1px #2d3467;
}

#search-div:hover  #buttons {
    display:block;
    background-color: #dadada;
    width: 260px;
    height: 35px;
    margin-top: -40px;
    position: sticky;
    margin-left: 270px;
    border-radius: 50px 0px 5px 0px;

}

#busimg {
    height: 238px;
    width: 545px;
    border-radius: 0px 0px 5px 5px;
    margin-left: -15px;
    margin-top: 3px;
    cursor: pointer;
}

#seatcount::before {
    margin-left: 5px;
}

h1#\30 content {
    margin-left:7px;
    display: flex;
    font-size: 15px;
    width: 170px;
}

h1#\31 content,h1#\32 content {
    margin-left: 110px;
    font-size: 15px;
    width: 170px;
}

h1#\33 content {
    margin-left: 100px;
    font-size: 17px;
}

#sademoji::before {
    color: grey;
}

div#extradetaildiv {
    position: absolute;
    width: 1007px;
    margin-left: -15px;
    height: 129px;
    margin-top: -96px;
    border-radius: 5px;
    display: flex;
    align-items: end;
    opacity: 0%;
    cursor: pointer;
}

div#extradetaildiv:hover {
    opacity: 100%;
}

p#text-1 {
    margin-top: 100px;
    font-family: 'Caveat', cursive;
    font-size: 40px;
    font-weight: 800;
}

p#text-2 {
    font-size: 65px;
    width: 680px;
    font-weight: 900;
    color: #FFFFFF;
    margin-top: -25px;
    margin-left: 4px;
}

p#text-3 {
    font-size: 67px;
    font-weight: 900;
    color: #2d3467;
    margin-top: -90px;
    margin-left: 270px;
}

p#text-4 {
    color: #FFFFFF;
    font-size: 70px;
    margin-left: 575px;
    margin-top: -100px;
}

p#text-5 {
    font-size: 15px;
    margin-left: 10px;
    margin-top: 100px;
    font-weight: 600;
}

#account-follow {
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-top: 10px;
    margin-left: 10px;
    background: -webkit-linear-gradient(135deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#error{
    font-size: 20px;
}
#error1{
    font-size: 13px;
}

.profilediv:hover {
    border-radius: 10px 0px 0px 10px;
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.accountdiv:hover {
    border-radius: 10px 0px 0px 10px;
    background-color: #dadada;
}

#searchresultdiv1 {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 385px;
    margin-top: 75px;
    padding: 15px;
    border-radius: 10px;
    margin-left: 345px;
    align-items: center;
    justify-content: center;
    margin-bottom: 233px;
    background-color: white;
}

#search-div {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    height: 260px;
    width: 515px;
    box-shadow: 0px 1px 5px 0px #2d3467;
}

button#extradetail {
    width: 1007px;
    border-radius: 5px;
    border-style: none;
    height: 50px;
    background: transparent;
    display: contents;
}

summary {
	background-color: #fff;
	position: relative;
	cursor: pointer;
	list-style: none;
}

#buttons {
    display: none;
}

#buspic {
    height: 385px;
    width: 780px;
    margin-top: 7px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 5px;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    box-shadow: 0px 1px 5px 0px #2d3467;
}

#buspic-buttons{
    position: absolute;
    height: 20px;
    margin-top: 7px;
    margin-left: 40px;
    border-radius: 5px;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    color: #2d3467;
    font-size: 15px;
    font-weight: 500;
}

#plan {
    position: absolute;
    height: 20px;
    width: 80px;
    margin-top: 7px;
    margin-left: 150px;
    border-radius: 5px;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    color: #2d3467;
    font-size: 15px;
    font-weight: 500;

}

#swap-source-destination{
    display: inline-flex;
    gap: 10px;
    margin-left: 40px;
}

#source-place, #destination-place {
    font-weight: 400;
    flex-direction: column;
    background-color: transparent;
    display: flex;
    width: 130px;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
    color: #2d3464;
}

#source-place-1, #destination-place-1 {
    font-weight: bold;
    justify-content: center;
}

#swap {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    color: white;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #518fff;
    cursor: pointer;
}

/* #swap:hover {
    -webkit-animation: rotation 0.5s  linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(180deg);
    }
} */

#planfile{
    width: 1050px;
    height: 550px;
    margin-top: 50px;
}


 .mySlides{
    box-shadow: 0px 1px 5px 3px #2d3464;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #2d3467;
}

/* Fading animation */
/* .fade {
  animation-name: fade;
  animation-duration: 1s;
  background:black;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
} */

#dot{
    display: flex;
    flex-direction: row;
}

#navimage{
    display: inline-flex;
    background-color: white;
    height: 50px;
    width: 200px;
    margin-left: 750px;
    border-radius: 0px 0px 15px 15px;
    align-items: center;
    justify-content: center;
    position: fixed;
    box-shadow: 0px 1px 8px 1px #2d3467;
}

#busdetail {
    display: flex;
    width: 1134px;
    font-size: 10px;
    align-items: center;
    background-color: lavender;
    padding: 13px;
    border-radius: 10px 10px 0px 0px;
    margin-top: -30px;
    justify-content: center;
}

button#button-busdetial-plan {
    margin-left: 33px;
    width: 1010px;
    background: transparent;
    border-style: none;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}

#plandetail {
    display: flex;
    height: 30px;
    width: 1165px;
    font-size: 10px;
    align-items: center;
    justify-content: space-around;
    background-color: lavender;
    padding: 13px;
    border-radius: 5px 5px 10px 10px;
    margin-top: -30px;
    position: absolute;
    margin-left: -30px;
}

.arrow-right{
    width: 100px;
}

.bus-name {
    width: 220px;
    margin-left: -100px;
    padding-right: 10px;
}

.place-name{
    padding-left: 10px;
    padding-right: 10px;
    width: 180px;
}

.seat-count{
    width: 100px;
    padding-left: 10px;
    padding-right: 30px;
}

.seat-count,.place-name,.bus-name,.arrow-right{
    display: flex;
    justify-content: center;
}

button#button-busdetial {
    width: 765px;
    background: transparent;
    border-style: none;
    display: flex;
    cursor: pointer;
    align-items: center;
}

#calendar-icon{
    position: absolute;
    margin-left: 12px;
    margin-top: 170px;
    cursor: pointer;
}

#swapicon {
    width: 50px;
    height: 50px;
    margin-top: -15px;
    cursor: pointer;
    margin-top: -26px;
    margin-left: -5px;
    position: absolute;
    border-radius: 100px;
    transition: transform 0.3s ease-in-out;
}

p#days {
    width: 180px;
    padding: 10px;
    border-radius: 5px;
    height: 25px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px -2px #2d3467;
    justify-content: center;
    align-items: center;
}

input#no-days,input#no-passenger {
    border-style: none;
    padding-left: 17px;
    width: 140px;
    outline: none;
}

#input-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-left: 5px;
    align-items: flex-start;
}

#inner-count-block {
    display: inline-flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
}

.fa-calendar-days,.fa-person-walking-luggage,.fa-city{
    margin-left: 5px;
    /* color:#2d3467; */
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
