*{
    padding: 0px;
    margin: 0px;
}

body{
    background-repeat: no-repeat;
    /* background-image: linear-gradient(45deg, #7c7e7e, #2d3465); */
    /* background: -webkit-linear-gradient(145deg,#ae006b, #2d3464); */
    background-color: #dadade;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Philosopher', sans-serif; */
    font-style: normal;
}

#homenavbar {
    height: 80px;
    width: 1534px;
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 3;
    background-color: #dadade;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    align-items: center;
}

#fetch-content-maindiv {
    padding-bottom: 20px;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#main{
    display: flex;
    flex-direction: column;
}

#appicon {
    height: 70px;
    width: 120px;
    margin-left: 30px;
    margin-top: -10px;
}

.bookingdiv-1{
    margin-left: 70px;
}

button#bookingbutton{
    border-style: none;
    background-color: transparent;
    font-size: 17px;
    margin-top: 15px;
    display: inline-flex;
    margin-left: 50px;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}

.bookingdiv:hover {
    border-radius: 10px 0px 0px 10px;
    background-color: #dadade;
}

.bookingdiv,.profilediv {
    display: inline-flex;
    align-items: end;
}

.profilediv {
    /* background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    margin-left: 50px;
}

.bookingdiv:hover,.profilediv:hover,.bookingdiv-1{
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button#profilebutton {
    border-style: none;
    background-color: transparent;
    font-size: 17px;
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    margin-top: 15px;
    justify-content: center;
}

button#exitbutton {
    margin-left: 70px;
    border-style: none;
    cursor: pointer;
    display: flex;
    background: transparent;
    align-items: center;
    font-weight: 700;
    gap: 5px;
    font-size: 18px;
    /* background-image: linear-gradient(275deg,#2d3464, #6e717a); */
}

button#exitbutton:hover{
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.exitdiv {
    margin-left: 600px;
    display: flex;
}

div.mainblock {
    display: flex;
    padding-left: 50px;
    gap: 10px;
    flex-direction: column;
    margin-top: 80px;
}

#search-div {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 1388px;
    margin-top: 5px;
    background-color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px -2px 5px -2px #2d3467;
}

::-webkit-scrollbar{
    display: none;
  } 

#busimg {
    width: 400px;
    height: 210px;
    border-radius: 5px;
    box-shadow: 0px 3px 5px -2px #2d3467
}

.div-control {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.div-control-1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-left: 40px;
    margin-top:40px
}

div#searchresultdiv {
    margin-left: 20px;
}

.fa-star{
    color: #ae006b;
}

#div-size-control {
    font-weight: 500;
    font-size: 15px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    color: #2d3467;
    gap: 10px;
}

#dealercompanyname{
    margin-left: 40px;
    font-weight: 500;
    font-size: 12px;
}

#dealercompanyname-1{
    font-weight: 500;
    font-size: 12px;
}

#bus-feature-div{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 40px;
    margin-top: 10px;
}

.fa-radio,
.fa-fan,
.fa-couch,
.fa-glass-water-droplet,
.fa-frown,
.fa-wifi,
.fa-tv,
.fa-suitcase-rolling,
.fa-lightbulb{
    color: #2d3467;
    width: 30px;
}

h1#error {
    font-size: 30px;
    font-weight: 600;
}

a#error1 {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

a#error1:hover{
    background: #ae006b;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#ac-p-inner-1 {
    display: flex;
    align-items: center;
    gap: 15px;
}

#IconChangeColor{
    color: #2d3467;
}

nav#nav,nav#navcontent {
    /* background: #2d3467; */
    background: linear-gradient(0deg,#dadade,#2d3467);
    margin-left: -50px;
    padding: 17px;
    height: 80px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
}

#pickup-txt{
    color: #ae006b;
    font-weight: 700;
}

#source-place {
    display: inline-flex;
    position: absolute;
    background: #ffffff91;
    color: #000;
    gap: 10px;
    margin-left: 790px;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    gap: 10px;
}

#source-place-2 {
    display: inline-flex;
    position: absolute;
    gap: 10px;
    margin-left: 1132px;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    gap: 10px;
    background: #ffffff91;
    color: #000;
}

#ac-p {
    margin-left: 960px;
    position: absolute;
    font-size: 20px;
    font-weight: 500;
}

#ac-p-inner {
    display: flex;
    align-items: center;
    gap: 5px;
}

#seat-count {
    margin-left: 790px;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
}

#plan-count {
    font-size: 33px;
    margin-left: 40px;
    font-weight: 300;
}

#busamount-div {
    display: flex;
    position: absolute;
    margin-left: 1120px;
    gap: 10px;
    margin-top: 170px;
}

#totalamount-button{
    border:none;
    border-radius: 5px;
    padding: 5px;
    width: 130px;
    z-index: 2;
    box-shadow: 0px -1px 5px -2px #2d3467;
}

#bookamount-button{
    border:none;
    border-radius: 5px;
    padding: 5px;
    width: 130px;
    background-color: #2d3467;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 2;
    box-shadow: 0px -1px 5px -2px #2d3467;
}

#bookamount-button:hover{
    background-color: #dadade;
    /* background: linear-gradient(180deg,#dadade,#2d3467); */
    color: #000000;
}

#source-place-1{
    white-space: nowrap; 
  width: 300px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

div#searchresultdiv1 {
    padding: 20px;
    display: flex;
    width: 1388px;
    border-radius: 5px;
    height: 220px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

[data-star] {
    text-align:left;
    font-style:normal;
    display:inline-block;
    position: relative;
    unicode-bidi: bidi-override;
  }
  [data-star]::before { 
    display:block;
    content: '★★★★★';
    color: #dadade;
    font-size: 25px;
  }
  [data-star]::after {
    white-space:nowrap;
    position:absolute;
    top:0;
    left:0;
    content: '★★★★★';
    width: 0;
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow:hidden;
    height:100%;
    font-size: 25px;
  }
  
  [data-star^="0.1"]::after{width:2%}
  [data-star^="0.2"]::after{width:4%}
  [data-star^="0.3"]::after{width:6%}
  [data-star^="0.4"]::after{width:8%}
  [data-star^="0.5"]::after{width:10%}
  [data-star^="0.6"]::after{width:12%}
  [data-star^="0.7"]::after{width:14%}
  [data-star^="0.8"]::after{width:16%}
  [data-star^="0.9"]::after{width:18%}
  [data-star^="1"]::after{width:20%}
  [data-star^="1.1"]::after{width:22%}
  [data-star^="1.2"]::after{width:24%}
  [data-star^="1.3"]::after{width:26%}
  [data-star^="1.4"]::after{width:28%}
  [data-star^="1.5"]::after{width:30%}
  [data-star^="1.6"]::after{width:32%}
  [data-star^="1.7"]::after{width:34%}
  [data-star^="1.8"]::after{width:36%}
  [data-star^="1.9"]::after{width:38%}
  [data-star^="2"]::after{width:40%}
  [data-star^="2.1"]::after{width:42%}
  [data-star^="2.2"]::after{width:44%}
  [data-star^="2.3"]::after{width:46%}
  [data-star^="2.4"]::after{width:48%}
  [data-star^="2.5"]::after{width:50%}
  [data-star^="2.6"]::after{width:52%}
  [data-star^="2.7"]::after{width:54%}
  [data-star^="2.8"]::after{width:56%}
  [data-star^="2.9"]::after{width:58%}
  [data-star^="3"]::after{width:60%}
  [data-star^="3.1"]::after{width:62%}
  [data-star^="3.2"]::after{width:64%}
  [data-star^="3.3"]::after{width:66%}
  [data-star^="3.4"]::after{width:68%}
  [data-star^="3.5"]::after{width:70%}
  [data-star^="3.6"]::after{width:72%}
  [data-star^="3.7"]::after{width:74%}
  [data-star^="3.8"]::after{width:76%}
  [data-star^="3.9"]::after{width:78%}
  [data-star^="4"]::after{width:80%}
  [data-star^="4.1"]::after{width:82%}
  [data-star^="4.2"]::after{width:84%}
  [data-star^="4.3"]::after{width:86%}
  [data-star^="4.4"]::after{width:88%}
  [data-star^="4.5"]::after{width:90%}
  [data-star^="4.6"]::after{width:92%}
  [data-star^="4.7"]::after{width:94%}
  [data-star^="4.8"]::after{width:96%}
  [data-star^="4.9"]::after{width:98%}
  [data-star^="5"]::after{width:100%}


  button#buspic-buttons {
    position: absolute;
    width: 1430px;
    margin-top: -20px;
    padding: 20px;
    height: 250px;
    margin-left: -20px;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    border-style: none;
}

#busamount-div-heart {
    position: absolute;
    margin-left: 1360px;
    display: flex;
}

#heart-button{
    background: transparent;
    border: none;
    z-index: 2;
    position: absolute;
}

.mySlides{
    box-shadow: 0px 1px 5px 3px #2d3464;
}

.mySlides.fade {
    width: 600px;
    height: 300px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

#dot {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: -50px;
    justify-content: center;
    width: 600px;
}

.active {
    background: linear-gradient(95deg,#ae006b, #2d3464);
  }

  #prevNextButton {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: -170px;
    justify-content: space-between;
    width: 718px;
}

#outer-bus-data{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.prev-button {
    background: #00000099;
    color: #FFFFFF;
    width: 27px;
    height: 53px;
    padding: 10px;
    border: none;
    display: flex;
    border-radius: 0px 10px 10px 0px;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    cursor: pointer;
}

.next-button {
    background: #00000099;
    color: #FFFFFF;
    width: 27px;
    height: 53px;
    padding: 10px;
    border: none;
    display: flex;
    border-radius: 10px 0px 0px 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.next-button:hover,.prev-button:hover{
    background-color: #dadade99;
    color: #000000;
}

#bus-image{
    width: 600px;
    height: 300px;
    /* border-radius: 5px 5px 0px 0px; */
}

#bus-feature-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    background: #FFFFFF;
    align-items: center;
    margin-top: -25px;
    z-index: -1;
    box-shadow: 0px 1px 5px 0px #2d3464;
    width: 580px;
    position: relative;
    margin-bottom: 20px;
    animation: fadeInDown 1s ease-in-out;
}

@-webkit-keyframes fadeInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-300px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }


#feature-header{
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.div-control-rating {
    display: flex;
    /* margin-top: -10px; */
    align-items: center;
    gap: 10px;
    width: 580px;
    justify-content: center;
}

.div-control-features {
    display: flex;
    gap: 15px;
    width: 580px;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.div-control-plan {
    display: flex;
    gap: 5px;
    width: 708px;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px -1px 5px -1px #2d3467;
    margin-bottom: 40px;
}

.day-header {
    color: #FFFFFF;
    background: linear-gradient(274deg,#dadade,#2d3467);
    width: 708px;
    padding: 10px;
    font-size: 18px;
    margin-left: -10px;
    margin-top: -10px;
    margin-right: -10px;
    border-radius: 5px 5px 0px 0px;
}

#pay-footer {
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px -1px 5px -1px #2d3467;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
}

.pay-footer-txt {
    font-size: 18px;
    font-weight: 600;
}


img#spot-image{
    height: 250px;
    width: 728px;
    background-image: linear-gradient(45deg, #7c7e7e, #2d3465);
}

.mySlidesspot.fadespot {
    width: 728px;
    height: 250px;
    margin-top: 5px;
    margin-left: -10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.mySlidesspot{
    box-shadow: 0px 1px 5px -2px #2d3464;
}

#heart-button{
    .fa-solid{
        line-height: 0.9;
        background: -webkit-linear-gradient(0deg,#ae006b, #2d3464);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.fa-heart{
    cursor: pointer;
}
