*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: linear-gradient(45deg, #7c7e7e, #2d3465);
    background-repeat: no-repeat;
    height: 80.4vh;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Philosopher', sans-serif; */
    font-style: normal;
}

#block {
    background-color: white;
    margin-left: 550px;
    margin-top: 145px;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    height: 445px;
    box-shadow: 0px 0px 5px -1px #7c7e7e;
}

button#signupbutton {
    display: flex;
    margin-left: 170px;
    height: 25px;
    width: 55px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-style: hidden;
    cursor: pointer;
    font-size: medium;
    color: #ae006b;
}

button#signupbutton:hover {
    color: #2d3465;
}

p#or {
    margin-top: 20px;
    margin-left: 140px;
    font-size: small;
}

#loginform{
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
   
}

h2#logintxt {
    margin-left: 125px;
    background: -webkit-linear-gradient(275deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2#logintxt-fpwd,.logintxt-verify {
    font-size: 22px;
    background: -webkit-linear-gradient(275deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#uname,#pwd,#email,.input-pwd{
    padding: 2%;
    height: 3vh;
    width: 385px;
    margin-top: 7px;
    border-style: hidden;
    font-size:small;
    border-radius: 5px;
    box-shadow: 0px 0px 5px -1px #2d3467;
    background-color: white;
}

.outline:focus,.input-opt{
    outline: none;
}

.loginbutton{
    width: 26vh;
    margin-left: 100px;
    margin-top: 65px;
    font-size: medium;
    height: 5vh;
    border-radius: 5px;
    background-color:white;
    border-style: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 5px -1px #2d3467;
}

.submitbutton{
    width: 26vh;
    margin-top: 40px;
    font-size: medium;
    height: 5vh;
    border-radius: 5px;
    background-color:white;
    border-style: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 5px -1px #2d3467;
}

.loginbutton:hover,.submitbutton:hover {
    background-image: linear-gradient(95deg,#5c6074, #2d3464);
    color: white;
}
  

hr#line{
    border-style: outset;
}

#fpwd {
    margin-left: 280px;
    margin-right: 2px;
    font-size: small;
    cursor: pointer;
    width: 110px;
    background: transparent;
    border-style: none;
    position: absolute;
    margin-top: -150px;
}

#fpwd:hover{
    color: #ae006b;
}

.warning {
    padding: 5px;
    position: absolute;
    display: flex;
    align-items: center;
    border-style: none;
    color: white;
    background: linear-gradient(275deg,#ae006b, #2d3464);
    font-size: small;
    width: 370px;
    border-radius: 6px;
    border-color: black;
    margin-top: 250px;
    justify-content: center;
}
#optInput{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 500px;
}

.input-opt {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin: 0 5px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 0px 5px -1px #2d3467;
}

.verify-btn {
    width: 150px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-style: none;
    background-color: white;
    box-shadow: 0px 0px 5px -1px #2d3467;
    color: #2d3467;
    border: none;
    margin-top: 35px;
    margin-left: 60px;
    border-radius: 5px;
}

.verify-btn:hover{
    background-image: linear-gradient(95deg,#5c6074, #2d3464);
    color: white;
}

.contentBlock {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    animation: swipeLeft 0.1s ease-in ;
    width: 400px;
}

@keyframes swipeLeft {
  0%,50% {
    transform: translateX(+100%);
  }
  100% {
    transform: translateX(0);
  }
}

.p-verify {
    font-size: 14px;
    margin-bottom: 20px;
  }

#blockactive {
    background-color: white;
    margin-left: 550px;
    margin-right: 496px;
    margin-top: 10%;
    padding: 30px;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px -1px #7c7e7e;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}

.updateBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .dot-pos{
    position: fixed;
    text-align:center;
    margin-top: 355px;
  }

.invalidcode {
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin: 0 5px;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 0px 5px -1px #ae006b;
}

.input-pwdactive {
    padding: 2%;
    height: 3vh;
    width: 370px;
    margin-top: 7px;
    border-style: hidden;
    font-size: small;
    border-radius: 5px;
    box-shadow: 0px 0px 5px -1px #ae006b;
}

#cpwd-content{
    display: flex;
    flex-direction: column;
}

.fa-eye {
    margin-left: 365px;
    position: absolute;
    margin-top: 183px;
    cursor: pointer;
    opacity: 70%;
}

#button-home {
    position: sticky;
    padding-left: 30px;
    height: 40px;
    margin-top: 20px;
    width: 220px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    color: white;
    border-style: none;
    box-shadow: 0px 0px 5px -1px rgb(0,0,0.1);
    background: linear-gradient(275deg,#ae006b, #2d3464);
    /* background-image: linear-gradient(45deg,#2d3465,#7c7e7e); */
    /* background-color: #2d3465; */
    justify-content: flex-start;
    font-weight: 700;
    cursor: pointer;
    margin-left: 85px;
}

.fa-long-arrow-alt-right{
    position: absolute;
    margin-left: -150px;
    color: white;
    animation: swipeLeft 3s ease-in-out infinite ;
    width: 360px;
}

@keyframes swipeLeft {
  0%{
    transform: translateX(30px);
    opacity: 0%;
  }50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(170px);
  }
}