*{
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    /* background-color: #dadade; */
    font-style: normal;
    user-select: none;
    background-color: #e8e8e8;
}



#appicon {
    height: 70px;
    width: 125px;
    position: absolute;
    top: 0;
    left: 30px;
}

#content {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.home-header {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 25px;
    margin-top: 30px;
    color: #2d3467;
}

div#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-dealer-nav {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}

button#dealer,button#user{
    background-color: transparent;
    border:none;
    cursor: pointer;
}

svg{
    position: absolute;
    top: 200px;
    left: 0;
    z-index: -1;
}

.bg-filler{
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: #dadade;
    height: 200px;
    min-width: 1530px;
    width: 100%;
}

.circle:hover{
    transition: 0.5s;
    transform: scale(1.2);
}

.circle:not(:hover) {
    transform: scale(1);
    transition: 0.5s;
  }

.fa-user-tie{
    color: black;
}

.image-icon-button{
    border-radius: 50px;
}

.circle {
    width: 100px;
    height: 100px;
    display: flex;
    box-shadow: 0px 0px 5px -1px #2d3467;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.tranmission{
    animation-name: fadedown;
    animation-duration: 0.6s;
    animation-delay: 1.5s; 
    animation-fill-mode: ease-in;
}

  @keyframes fadedown {
    0%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }


  .main-bg-img{
    width: 500px;
  }


  .inner-log-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.main-box-div{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.inner-main-box-div{
    height: 350px;
    width: 350px;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 2px 5px -2px #2d3467;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.inner-main-box-div:hover{
    transition: 0.5s;
    transform: scale(1.05);
    .nextpop{
        transition: 0.5s;
        transform: scale(1.15);
    }
}

.inner-main-box-div:not(:hover){
    transition: 0.5s;
    transform: scale(1);
    .nextpop{
        transition: 0.5s;
        transform: scale(1);
    }
}

.inside-img{
    width: 180px;
    height: 200px;
}

button#dealer {
    border: none;
    cursor: pointer;
    padding: 15px;
    background: #2d3467;
    border-radius: 50px;
    position: absolute;
    color: #FFFFFF;
    cursor: pointer;
    margin-top:370px;
}

.content-type {
    opacity: 50%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    flex-direction: column;
    align-items: center;
}

p.type-header {
    font-weight: 600;
    margin-top: -25px;
    font-size: 20px;
}