*{
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    /* background-color: #dadade; */
    font-style: normal;
    user-select: none;
}



#appicon {
    height: 70px;
    width: 125px;
    position: absolute;
    top: 0;
    left: 30px;
}

#content {
    padding: 30px;
    border-radius: 10px;
    background-color: #FFFFFF;
    /* box-shadow: 0px 0px 10px -3px #2d3467; */
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding-right: 80px;
    padding-left: 10px;
}

.home-header {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 25px;
    margin-top: 30px;
    color: #2d3467;
}

div#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-dealer-nav {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}

button#dealer,button#user{
    background-color: transparent;
    border:none;
    cursor: pointer;
}

.circle:hover{
    transition: 0.5s;
    transform: scale(1.2);
    color: white;    
}

.fa-user-tie{
    color: black;
}

.image-icon-button{
    border-radius: 50px;
}

.circle {
    width: 100px;
    height: 100px;
    display: flex;
    box-shadow: 0px 0px 5px -1px #2d3467;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.tranmission{
    animation-name: fadedown;
    animation-duration: 0.6s;
    animation-delay: 1.5s; 
    animation-fill-mode: ease-in;
}

  @keyframes fadedown {
    0%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }


  .main-bg-img{
    width: 500px;
  }


  .inner-log-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }