*{
    padding: 0px;
    margin: 0px;
}

body{
    background-repeat: no-repeat;
    background-color: #dadade;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

#homenavbar {
    height: 80px;
    width: 1534px;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 0px 10px -2px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    align-items: center;
}

.bookingdiv:hover {
    border-radius: 10px 0px 0px 10px;
    background-color: #dadada;
}
#appicon {
    height: 70px;
    width: 120px;
    margin-left: 30px;
    margin-top: -10px;
}

#main{
    display: flex;
    flex-direction: column;
}

.bookingdiv,.profilediv {
    display: inline-flex;
    align-items: end;
}

.bookingdiv-1{
    margin-left: 70px;
}

button#profilebutton {
    border-style: none;
    background-color: transparent;
    font-size: 17px;
    display: inline-flex;
    column-gap: 10px;
    cursor: pointer;
    margin-top: 15px;
    justify-content: center;
}

button#bookingbutton {
    border-style: none;
    background-color: transparent;
    font-size: 17px;
    margin-top: 15px;
    display: inline-flex;
    margin-left: 50px;
    column-gap: 10px;
    cursor: pointer;
}


img#bookingimg ,img#accountimg , img#profileimg,img#exitimg{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.exitdiv {
    margin-left: 600px;
    display: flex;
}

button#exitbutton {
    margin-left: 70px;
    border-style: none;
    cursor: pointer;
    display: flex;
    background: transparent;
    align-items: center;
    font-weight: 700;
    gap: 5px;
    font-size: 18px;
    /* background-image: linear-gradient(275deg,#2d3464, #6e717a); */

}

button#exitbutton:hover,#bookingbutton:hover{
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profilediv {
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 50px;
}

div#profilecontent {
    display: flex;
    padding-left: 75px;
    gap: 10px;
}

div#personalinfo{
    margin-top: 100px;
}

h1#title {
    font-size: 25px;
    color: black;
    margin-top: -100px;
}

div#usercontent{
    display: flex;
    gap: 30px;
    margin-top: 35px;
    flex-wrap: wrap;
    flex-direction: unset;
}

h2 {
    font-size: 14px;
    color: black;
    margin-bottom: 5px;
    font-weight: 700;
}

h4{
    font-size: 18px;
    font-weight: 500;
}

#fname, #lname,#phonenumber {
    padding: 15px;
    width: 350px;
    height: 50px;
    /* background-color: #dadade; */
    border-radius: 5px;
    display: flex;
    box-shadow: 0px 1px 5px 0px #2d3467;
    color: #2d3467;
    flex-direction: column;
    justify-content: center;
}

#cpassword {
    position: absolute;
    margin-top: 40px;
    display: flex;
    text-decoration: none;
    margin-left: 454px;
    width: 145px;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
}

#cpassword:active{
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3#gender-detail {
    margin-bottom: 10px;
    color: #000000;
}

input#password-detail-input {
    background: transparent;
    border: none;
    font-size: 20px;
    color: #2d3467;
}

#email,#password {
    padding: 15px;
    width: 600px;
    height: 50px;
    /* background-color: #dadade; */
    border-radius: 5px;
    display: flex;
    box-shadow: 0px 1px 5px 0px #2d3467;
    color: #2d3467;
    flex-direction: column;
    justify-content: center;
}

#gender {
    padding: 15px;
    width: 200px;
    height: 50px;
    /* background-color: #dadade; */
    border-radius: 5px;
    display: flex;
    box-shadow: 0px 1px 5px 0px #2d3467;
    color: #2d3467;
    flex-direction: column;
    justify-content: center;
}

#address {
    padding: 15px;
    width: 700px;
    height: 50px;
    /* background-color: #dadade; */
    border-radius: 5px;
    display: flex;
    box-shadow: 0px 1px 5px 0px #2d3467;
    color: #2d3467;
    flex-direction: column;
    justify-content: space-between;
}

button.edit-personalinfo {
    background: transparent;
    border-style: none;
    cursor: pointer;
    display: flex;
    width: 120px;
    gap: 10px;
    background: #2d3467;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
}


h2#number{
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}

.fa-pen-to-square{
    color: #FFFFFF;
}

p#number {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 600px;
    font-weight: 600;
}

#edit-button-div {
    display: flex;
    position: relative;
    margin-top: 150px;
    justify-content: flex-end;
}

p {
    margin-top: 5px;
    color: #6d7079;
    font-size: 15px;
    /* margin-bottom: 40px; */
}

div#contentdivision2 {
    height: 575px;
    padding: 25px;
    margin-top: 20px;
    border-radius: 10px;
    width: 1030px;
    margin-left: 20px;
    background-color: white;
    box-shadow: 0px 0px 5px -3px #2d3467;
}

#image-edit-btn {
    border-style: none;
    background-color: #2d3467;
    padding: 10px;
    border-radius: 30px;
    margin-top: -50px;
    color: #FFFFFF;
    margin-left: 85px;
    cursor: pointer;
}

div#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 5px;
    justify-content: center;
}

img#profilepic {
    width: 130px;
    height: 130px;
    border-radius: 107px;
    border-color: #dadada;
    box-shadow: 0px 0px 5px -2px #2d3467;
}

img#profilepic-1 {
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-left: -75px;
    position: absolute;
    border-radius: 107px;
    box-shadow: 0px 0px 5px -2px #2d3467;
}

#profile-content-button{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#file-upload-button{
    cursor: pointer;
}

#personalinfo-button,#accountdetails-button{
    padding: 5px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 13px;
}

#personalinfo-buttonactive,#accountdetails-buttonactive{
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-style: none;
    font-size: 17px;
    cursor: pointer;
}

div#contentdivision1 {
    background-color: #FFFFFF;
    margin-top: 100px;
    border-radius: 10px;
    padding: 25px;
    height: 450px;
    margin-left: -10px;
    width: 250px;
    box-shadow: 0px 0px 5px -3px #2d3467;
}

h4#username {
    padding: 10px;
    display: flex;
    z-index: 2;
    width: 240px;
    justify-content: center;
}

form#photoinput {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button#savebutton {
    margin-top: -75px;
    position: absolute;
    width: 132px;
    font-size: 18px;
    height: 33px;
    border-radius: 5px;
    border-style: hidden;
    cursor: pointer;
    margin-left: 80px;
    box-shadow: 0px 1px 5px -1px #2d3467;
}


button#savebutton-1 {
    margin-top: -100px;
    position: absolute;
    width: 132px;
    font-size: 18px;
    height: 33px;
    border-radius: 5px;
    border-style: hidden;
    cursor: pointer;
    margin-left: 65px;
    box-shadow: 0px 1px 5px -1px #2d3467;
}

button#savebutton:hover,#photodiv:hover,button#savebutton-1:hover{
    /* background-image: linear-gradient(95deg, #2d3464, #6e717a); */
    background:  #2d3464;
    color: white;
}

#photodiv {
    text-align: center;
    padding: 2%;
    border-radius: 5px;
    width: 190px;
    margin-left: 160px;
    background-color: #dadade;
    margin-top: 260px;
    cursor: pointer;
    position: absolute;
    box-shadow: 0px 1px 5px -1px #2d3467;
}

div#photodiv-1 {
    margin-left: -480px;
}

#inputimage {
    opacity: 0%; 
    height: 33px;
    width: 205px;
    border-radius: 5px;
    position: absolute;
    margin-left: -172px;
    margin-top: -7px;
    cursor: pointer;
}

label{
    cursor:pointer;
}

.name-replace {
    display: flex;
    justify-content: space-between;
}

.update-button {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
}

.formPopup {
    display: none;
    position: fixed;
    left: 40%;
    top: 12%;
    z-index: 9;
}

#number-label{
    margin-bottom: 7px;
}

.iti__country-list{
    width: 230px;
}

.iti--allow-dropdown input, .iti--allow-dropdown input[type=text], .iti--allow-dropdown input[type=tel], .iti--separate-dial-code input, .iti--separate-dial-code input[type=text], .iti--separate-dial-code input[type=tel] {
    padding-right: 6px;
    padding-left: 52px;
    height: 40px;
    margin-left: 0;
    width: 230px;
    margin-top: 10px;
}

.iti input, .iti input[type=text], .iti input[type=tel] {
    position: relative;
    z-index: 0;
    margin-top: 10px !important;
    margin-bottom: 0 !important;
    padding-right: 36px;
    margin-right: 0;
}

.formContainer {
    margin-top: 10px;
    padding: 20px;
    background-color: #fff;
    width: 375px;
    height: 550px;
    margin-left: -50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px -1px #2d3467;
}

.formContainer-image {
    margin-top: 140px;
    padding: 20px;
    background-color: #fff;
    width: 375px;
    height: 300px;
    margin-left: -50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px -1px #2d3467;
}

.formContainer-image-crop {
    display:none;
    margin-top: 10px;
    padding: 20px;
    background-color: #fff;
    width: 375px;
    height: 500px;
    margin-left: -50px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px -1px #2d3467;
}

.flash-animation-formContainer{
    animation: flash 0.2s;
    animation-iteration-count: 1;
}

@keyframes flash {
    0% {
        box-shadow: 0px 0px 10px 1px #FFFFFF;
    }
    25%{
        box-shadow: 0px 0px 5px 1px #FFFFFF;
    }
    50% {
        box-shadow: 0px 0px 10px 1px #FFFFFF;
    }
    75%{
        box-shadow: 0px 0px 5px 1px #FFFFFF;
    }
    100% {
        box-shadow: 0px 0px 10px 1px #FFFFFF;
    }
  }

/* .formContainer{
    padding: 12px 20px;
    border: none;
    background-color: white;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
} */

.btn-1 {
    padding: 12px 20px;
    border: none;
    background-color: #2aa544;
    color: #fff;
    cursor: pointer;
    width: 130px;
    margin-bottom: 15px;
    opacity: 0.8;
}

.formContainer .cancel {
    background-color: #cc0000;
}

.formContainer .btn-1:hover,.openButton:hover {
    opacity: 1;
}

#update-title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.aunchor-close{
    text-decoration: none !important;
}

.outline {
    padding: 10px;
    height: 20px;
    width: 350px;
    margin-top: 7px;
    border-style: hidden;
    font-size: small;
    border-radius: 5px;
    outline: none;
    box-shadow: 0px 0px 5px -2px #2d3467;
}

.outline-1{
    padding: 10px;
    height: 40px;
    width: 120px;
    margin-top: 7px;
    border-style: hidden;
    font-size: small;
    border-radius: 5px;
    outline:none;
    box-shadow: 0px 0px 5px -2px #2d3467;
}

.outline-2{
    padding: 10px;
    height: 20px;
    width: 210px;
    margin-top: 7px;
    border-style: hidden;
    font-size: small;
    border-radius: 5px;
    outline:none;
    box-shadow: 0px 0px 5px -2px #2d3467;
}

#button-update{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.btn-1 {
    display: flex;
    margin-top: 30px;
    font-size: medium;
    height: 5vh;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #2d3467;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* .popupForm-outclick {
    animation: flash 0.4s linear 3;
    left: 40%;
    top: 12%;
    z-index: 9;
}
  
@keyframes flash {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.98);
    }
} */

h4#email::-webkit-scrollbar {
    display: none;
}

h4#email{
    overflow: scroll;
}

.fa-edit{
    color: #2d3467;
}

#empty-block{
    width: 20px;
    height: 20px;
    background-color: red;
}

svg#svg-temp {
    position: absolute;
    width: 370px;
    margin-top: 60px;
    margin-left: 10px;
}

/* crop css */

.page {
    margin: 1em auto;
    max-width: 768px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
}

.box {
	padding: 0.5em;
	width: 100%;
	margin: 0.5em;
}

.box-2 {
	padding: 0.5em;
	width: calc(100%/2 - 1em);
}

.options label,
.options input {
	width: 4em;
	padding: 0.5em 1em;
}

.btn {
	background: white;
	color: black;
	border: 1px solid black;
	padding: 0.5em 1em;
	text-decoration: none;
	margin: 0.8em 0.3em;
	display: inline-block;
	cursor: pointer;
}

.hide {
	display: none;
}

/* img {
	width: 100%;
      height: 100%;
      object-fit: cover;
} */

#active-statusactive {
    height: 30px;
    position: absolute;
    width: 4px;
    /* background-color: #2d3467; */
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    margin-top: -27px;
    margin-left: 224px;
    border-radius: 2px 0px 0px 2px;
}

#active-statusactive1{
    height: 30px;
    position: absolute;
    width: 4px;
    /* background-color: #2d3467; */
    background: -webkit-linear-gradient(95deg,#ae006b, #2d3464);
    margin-top: -27px;
    margin-left: 222px;
    border-radius: 2px 0px 0px 2px;
}