*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: linear-gradient(45deg, #7c7e7e, #2d3465);
    background-repeat: no-repeat;
    height: 100vh;
    font-family: system-ui;
}

#homenavbar {
    width: 174px;
    height: 100vh;
    background-color: white;
    border-radius: 0%;
    -webkit-border-radius: 0px 25px 25px 0px;
}

#appicon {
    height: 80px;
    width: 130px;
    margin-left: 17px;
    margin-top: 28px;
}

#main{
    display: flex;
}
.bookingdiv,.accountdiv,.profilediv {
    display: inline-flex;
    align-items: end;
    margin-top: 20px;
}

button#bookingbutton{
    height: 40px;
    width: 159px;
    border-style: none;
    background-color: transparent;
    font-size: 17px;
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
    column-gap: 10px;
    cursor: pointer;
}

button#accountbutton{
    height: 40px;
    width: 159px;
    border-style: none;
    background-color: transparent;
    font-size: 17px;
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
    column-gap: 10px;
    cursor: pointer;
}

button#profilebutton{
    height: 40px;
    width: 159px;
    border-style: none;
    background-color: transparent;
    font-size: 17px;
    display: inline-flex;
    align-items: center;
    margin-left: 15px;
    column-gap: 10px;
    cursor: pointer;
    color: white;
}


img#bookingimg ,img#accountimg , img#profileimg,img#exitimg{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.exitdiv {
    margin-top: 390px;
    display: flex;
}

button#exitbutton {
    margin-left: 15px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.profilediv{
    background-color:#6e717a;
    border-radius: 10px 0px 0px 10px;
}

div#profilecontent {
    display: flex;
    padding-left: 75px;
    gap: 30px;
}

div#personalinfo{
    margin-top: 100px;
}

h1#title {
    font-size: 25px;
    color: black;
    margin-top: -60px;
}

div#usercontent{
    display: flex;
    gap: 30px;
    margin-top: 35px;
    flex-wrap: wrap;
    flex-direction: unset;
}

h2 {
    font-size: 20px;
    color: black;
}

#fname, #lname, #mail {
    padding: 15px;
    width: 330px;
    border-style:ridge;
    height: 55px;
    color: #707070;
    border-radius: 5px;
    border-width: 3px;
}

p {
    margin-top: 5px;
    color: #707070;
    font-size: 15px;
    margin-bottom: 60px;
}

div#contentdivision2 {
    padding-left: 30px;
    height: 500px;
    margin-top: 100px;
    border-radius: 15px;
    margin-right: 50px;
    width: 790px;
    background-color: white;
}

img#profilepic {
    width: 100px;
    height: 100px;
    border-radius: 70px;
    margin-top: 20px;
    border-style: solid;
    margin-left: 100px;
}

div#contentdivision1 {
    background-color: white;
    margin-top: 100px;
    border-radius: 15px;
    padding: 25px;
    height: 450px;
}

h4#username {
    display: flex;
    justify-content: center;
}