*{
    padding: 0px;
    margin: 0px;
}

body {
    background-image: linear-gradient(45deg, #7c7e7e, #2d3465);
    background-repeat: no-repeat;
    height: 86.6vh;
}

#block{
    background-color: #e1e6eb;
    margin-left: 550px;
    margin-top: 100px;
    width: 25%;
    padding: 40px;
    border-radius: 15px;
    height: 70vh;
    font-family: system-ui;
}

h2#logintxt {
    margin-left: 140px;
}


hr#line{
    border-style: outset;
}


button#loginbutton {
    display: flex;
    margin-left: 162px;
    height: 25px;
    width: 55px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-style: hidden;
    cursor: pointer;
    font-size: medium;
    color: #910087;
}

button#loginbutton:hover {
    color: #2d3467;
}

.outline:focus{
    outline: none;
}

button#signupbuttom{
    color: white;
    width: 26vh;
    margin-left: 95px;
    font-size: medium;
    height: 5vh;
    border-radius: 2vh;
    background-color: #2d3465;
    border-style: hidden;
    cursor: pointer;
    margin-top: 10px;
}

button#signupbuttom:hover {
    color: white;
    background-color:#7c7e7e;
}

#fname,#lname,#pwd,#email{
    height: 3vh;
    width: 93%;
    margin-top: 5px;
    border-style: hidden;
    font-size: small;
    background-color: transparent;
}


button#signupbutton,#loginbutton {
    display: flex;
    margin-left: 217px;
    height: 25px;
    width: 55px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-style: hidden;
    cursor: pointer;
}

p#or {
    margin-top: 15px;
    margin-left: 117px;
    font-size: small;
}

#txt{
    margin-top: 10px;
}

h4#warning {
    padding: 5px;
    display: flex;
    align-items: center;
    border-style: none;
    color: white;
    background-color: brown;
    font-size: small;
    width: 370px;
    border-radius: 6px;
    border-color: black;
    margin-bottom: 10px;
    justify-content: center;
    margin-top: 15px;
}