*{
    padding: 0px;
    margin: 0px;
}

body {
    background-image: linear-gradient(45deg, #7c7e7e, #2d3465);
    background-repeat: no-repeat;
    height: 86.6vh;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Philosopher', sans-serif; */
    font-style: normal;
}

#block{
    background-color: white;
    margin-left: 550px;
    margin-top: 100px;
    width: 25%;
    padding: 40px;
    border-radius: 15px;
    height: 70vh;
}

#loginform-cpwd{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

h2#logintxt {
    margin-left: 140px;
    background: -webkit-linear-gradient(#ae006b, #2d3464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


hr#line{
    border-style: outset;
}


button#loginbutton {
    display: flex;
    margin-left: 162px;
    height: 25px;
    width: 55px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-style: hidden;
    cursor: pointer;
    font-size: medium;
    color: #ae006b;
}

button#loginbutton:hover {
    color: #2d3467;
}

.outline:focus{
    outline: none;
}

button#signupbutton{
    width: 20vh;
    margin-left: 115px;
    font-size: medium;
    height: 5vh;
    border-radius: 5px;
    background-color: white;
    border-style: hidden;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0px 0px 5px -1px #2d3467;
}

button#signupbutton:hover {
    color: white;
    background-image: linear-gradient(95deg,#5c6074, #2d3464);
}

#fname,#lname,#pwd,#email{
    height: 3vh;
    width: 93%;
    margin-top: 5px;
    border-style: hidden;
    font-size: small;
    background-color: transparent;
}


button#signupbutton, #loginbutton {
    display: flex;
    height: 30px;
    background-color: transparent;
    border-style: hidden;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

p#or {
    margin-top: 5px;
    margin-left: 117px;
    font-size: small;
}

#txt{
    margin-top: 10px;
}

h4#warning {
    position: absolute;
    padding: 5px;
    display: flex;
    align-items: center;
    border-style: none;
    color: white;
    background: linear-gradient(275deg,#ae006b, #2d3464);
    font-size: small;
    width: 370px;
    border-radius: 6px;
    border-color: black;
    margin-bottom: 10px;
    justify-content: center;
    margin-top: -10px;
}

.fa-eye{
    position: absolute;
    margin-top: -45px;
    cursor: pointer;
    margin-left: 350px;
    opacity: 70%;
}